In [2]:
import pandas as pd 
import numpy as np

In [4]:
ptd1 = pd.read_csv('/content/part_01.csv') 
ptd1.head()

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,SUM_TRAN_CLO_TENDENCY3M,SUM_TRAN_MED_TENDENCY1M,SUM_TRAN_MED_TENDENCY3M,SUM_TRAN_SUP_TENDENCY1M,SUM_TRAN_SUP_TENDENCY3M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,TRANS_COUNT_ATM_PRC,TRANS_COUNT_NAS_PRC,TRANS_COUNT_SUP_PRC
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,0.004301,0.538223,0.612532,0.338028,0.521127,0.000000,0.211268
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,1.000000,NaN,0.037963,0.200819,0.208955,0.477612,0.164179,0.059701
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.609531,0.458333,0.208333,0.041667,0.083333
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,0.40148,0.129829,0.586312,0.122523,0.640830,0.512312,0.554054,0.031532,0.018018,0.193694

In [5]:
ptd1.shape

(36768, 30)

In [6]:
ptd1.columns

Index(['ID', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC', 'AMOUNT_RUB_NAS_PRC',
       'AMOUNT_RUB_SUP_PRC', 'CNT_TRAN_ATM_TENDENCY1M',
       'CNT_TRAN_ATM_TENDENCY3M', 'CNT_TRAN_AUT_TENDENCY1M',
       'CNT_TRAN_AUT_TENDENCY3M', 'CNT_TRAN_CLO_TENDENCY1M',
       'CNT_TRAN_CLO_TENDENCY3M', 'CNT_TRAN_MED_TENDENCY1M',
       'CNT_TRAN_MED_TENDENCY3M', 'CNT_TRAN_SUP_TENDENCY1M',
       'CNT_TRAN_SUP_TENDENCY3M', 'SUM_TRAN_ATM_TENDENCY1M',
       'SUM_TRAN_ATM_TENDENCY3M', 'SUM_TRAN_AUT_TENDENCY1M',
       'SUM_TRAN_AUT_TENDENCY3M', 'SUM_TRAN_CLO_TENDENCY1M',
       'SUM_TRAN_CLO_TENDENCY3M', 'SUM_TRAN_MED_TENDENCY1M',
       'SUM_TRAN_MED_TENDENCY3M', 'SUM_TRAN_SUP_TENDENCY1M',
       'SUM_TRAN_SUP_TENDENCY3M', 'TRANS_AMOUNT_TENDENCY3M',
       'TRANS_CNT_TENDENCY3M', 'TRANS_COUNT_ATM_PRC', 'TRANS_COUNT_NAS_PRC',
       'TRANS_COUNT_SUP_PRC'],
      dtype='object')

In [8]:
ptd2 = pd.read_csv('/content/part_02.csv')
ptd2.head()

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_REGISTR_RGN_CODE,APP_TRAVEL_PASS
0,349630,444,N,PRIVATE,Y,UH,PRIVATE,NPRIVAT,M,MANAGER,77.0,N
1,336459,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,533853,648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,344680,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,388464,600,Y,PRIVATE,N,H,PRIVATE,JO,M,SPECIALIST,54.0,N

In [9]:
ptd2.columns

Index(['ID', 'AGE', 'APP_CAR', 'APP_COMP_TYPE', 'APP_DRIVING_LICENSE',
       'APP_EDUCATION', 'APP_EMP_TYPE', 'APP_KIND_OF_PROP_HABITATION',
       'APP_MARITAL_STATUS', 'APP_POSITION_TYPE', 'APP_REGISTR_RGN_CODE',
       'APP_TRAVEL_PASS'],
      dtype='object')

In [10]:
ptd3 = pd.read_csv('/content/part_03.csv')
ptd3.head()

,ID,AVG_PCT_DEBT_TO_DEAL_AMT,AVG_PCT_MONTH_TO_PCLOSE,DEAL_GRACE_DAYS_ACC_AVG,DEAL_GRACE_DAYS_ACC_MAX,DEAL_GRACE_DAYS_ACC_S1X1,DEAL_YQZ_IR_MAX,DEAL_YQZ_IR_MIN,DEAL_YWZ_IR_MAX,DEAL_YWZ_IR_MIN,...,LDEAL_TENOR_MAX,LDEAL_TENOR_MIN,LDEAL_USED_AMT_AVG_YQZ,LDEAL_USED_AMT_AVG_YWZ,LDEAL_YQZ_CHRG,LDEAL_YQZ_COM,LDEAL_YQZ_PC,MAX_PCLOSE_DATE,MED_DEBT_PRC_YQZ,MED_DEBT_PRC_YWZ
0,353144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,373635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,273973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,521836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,491543,NaN,NaN,1.0,1.0,1.0,NaN,NaN,25.99,25.99,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0

In [11]:
ptd3.columns

Index(['ID', 'AVG_PCT_DEBT_TO_DEAL_AMT', 'AVG_PCT_MONTH_TO_PCLOSE',
       'DEAL_GRACE_DAYS_ACC_AVG', 'DEAL_GRACE_DAYS_ACC_MAX',
       'DEAL_GRACE_DAYS_ACC_S1X1', 'DEAL_YQZ_IR_MAX', 'DEAL_YQZ_IR_MIN',
       'DEAL_YWZ_IR_MAX', 'DEAL_YWZ_IR_MIN', 'LDEAL_ACT_DAYS_ACC_PCT_AVG',
       'LDEAL_ACT_DAYS_PCT_AAVG', 'LDEAL_ACT_DAYS_PCT_CURR',
       'LDEAL_ACT_DAYS_PCT_TR', 'LDEAL_ACT_DAYS_PCT_TR3',
       'LDEAL_ACT_DAYS_PCT_TR4', 'LDEAL_AMT_MONTH', 'LDEAL_DELINQ_PER_MAXYQZ',
       'LDEAL_DELINQ_PER_MAXYWZ', 'LDEAL_GRACE_DAYS_PCT_MED',
       'LDEAL_TENOR_MAX', 'LDEAL_TENOR_MIN', 'LDEAL_USED_AMT_AVG_YQZ',
       'LDEAL_USED_AMT_AVG_YWZ', 'LDEAL_YQZ_CHRG', 'LDEAL_YQZ_COM',
       'LDEAL_YQZ_PC', 'MAX_PCLOSE_DATE', 'MED_DEBT_PRC_YQZ',
       'MED_DEBT_PRC_YWZ'],
      dtype='object')

In [12]:
ptd4 = pd.read_csv('/content/part_04.csv')
ptd4.head()

,ID,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_SALARY_VALUE,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
0,352758,NaN,NaN,NaN,2.410219,NaN,0,0,0,0,0,0,O01,0
1,578916,СОТРУДНИК,NaN,NaN,4.114410,NaN,0,0,0,0,0,0,102,0
2,452700,ГЕНЕРАЛЬНЫЙ ДИРЕКТОР,NaN,NaN,7.746130,DAUGHTER,1,0,0,0,0,0,102,0
3,262502,NaN,NaN,NaN,1.243561,NaN,0,0,0,0,0,0,102,0
4,452349,Главный инспектор,NaN,NaN,7.415485,NaN,0,0,0,0,0,0,K01,0

In [13]:
ptd4.columns

Index(['ID', 'CLNT_JOB_POSITION', 'CLNT_JOB_POSITION_TYPE',
       'CLNT_SALARY_VALUE', 'CLNT_SETUP_TENOR', 'CLNT_TRUST_RELATION',
       'CR_PROD_CNT_CC', 'CR_PROD_CNT_CCFP', 'CR_PROD_CNT_IL',
       'CR_PROD_CNT_PIL', 'CR_PROD_CNT_TOVR', 'CR_PROD_CNT_VCU', 'PACK',
       'TARGET'],
      dtype='object')

In [14]:
ptd5 = pd.read_csv('/content/part_05.csv')
ptd5.head()

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,PRC_ACCEPTS_TK
0,556073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,355572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,588838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,579911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
ptd5.columns

Index(['ID', 'CNT_ACCEPTS_MTP', 'CNT_ACCEPTS_TK', 'PRC_ACCEPTS_A_AMOBILE',
       'PRC_ACCEPTS_A_ATM', 'PRC_ACCEPTS_A_EMAIL_LINK', 'PRC_ACCEPTS_A_MTP',
       'PRC_ACCEPTS_A_POS', 'PRC_ACCEPTS_A_TK', 'PRC_ACCEPTS_MTP',
       'PRC_ACCEPTS_TK'],
      dtype='object')

In [17]:
ptd6 = pd.read_csv('/content/part_06.csv')
ptd6.head()

,ID,REST_AVG_CUR,REST_AVG_PAYM,REST_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,REST_DYNAMIC_CUR_1M,REST_DYNAMIC_CUR_3M,REST_DYNAMIC_FDEP_1M,REST_DYNAMIC_FDEP_3M,REST_DYNAMIC_IL_1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,291918,5064.323817,0.000000,0.0,0.0,0.230292,0.387579,0.0,0.0,0.0,...,0.0,0.0,0.0,0.587193,0.850793,0.0,0.0,0.000000,0.000000,0.000000
1,194000,0.000000,2642.496017,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.886428,0.936790,7671.198333
2,579301,2019.791200,0.000000,0.0,0.0,0.147771,0.448418,0.0,0.0,0.0,...,0.0,0.0,0.0,0.086593,0.534934,0.0,0.0,0.000000,0.000000,0.000000
3,511975,0.000000,1830.262650,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.434211,0.758335,3120.125000
4,516836,24370.154917,0.000000,0.0,0.0,0.210509,0.727481,0.0,0.0,0.0,...,0.0,0.0,0.0,0.241408,0.606401,0.0,0.0,0.000000,0.000000,0.000000

In [18]:
ptd6.columns

Index(['ID', 'REST_AVG_CUR', 'REST_AVG_PAYM', 'REST_DYNAMIC_CC_1M',
       'REST_DYNAMIC_CC_3M', 'REST_DYNAMIC_CUR_1M', 'REST_DYNAMIC_CUR_3M',
       'REST_DYNAMIC_FDEP_1M', 'REST_DYNAMIC_FDEP_3M', 'REST_DYNAMIC_IL_1M',
       'REST_DYNAMIC_IL_3M', 'REST_DYNAMIC_PAYM_1M', 'REST_DYNAMIC_PAYM_3M',
       'REST_DYNAMIC_SAVE_3M', 'TURNOVER_CC', 'TURNOVER_DYNAMIC_CC_1M',
       'TURNOVER_DYNAMIC_CC_3M', 'TURNOVER_DYNAMIC_CUR_1M',
       'TURNOVER_DYNAMIC_CUR_3M', 'TURNOVER_DYNAMIC_IL_1M',
       'TURNOVER_DYNAMIC_IL_3M', 'TURNOVER_DYNAMIC_PAYM_1M',
       'TURNOVER_DYNAMIC_PAYM_3M', 'TURNOVER_PAYM'],
      dtype='object')

In [19]:
ptd7 = pd.read_csv('/content/part_07.csv')
ptd7.head()

,ID,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_SALARY_VALUE,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
0,541501,NaN,NaN,NaN,1.090216,NaN,0,0,0,0,0,0,O01,0
1,181573,NaN,NaN,NaN,2.434421,NaN,0,0,0,0,0,0,102,0
2,302922,МЕНЕДЖЕР АХД,NaN,NaN,1.353768,NaN,0,0,0,0,0,0,102,0
3,391855,РУКОВОДИТЕЛЬ,NaN,NaN,0.587639,NaN,0,0,0,0,0,0,K01,0
4,337058,продавец,NaN,NaN,1.302693,NaN,0,0,0,0,0,0,105,0

In [20]:
ptd7.columns

Index(['ID', 'CLNT_JOB_POSITION', 'CLNT_JOB_POSITION_TYPE',
       'CLNT_SALARY_VALUE', 'CLNT_SETUP_TENOR', 'CLNT_TRUST_RELATION',
       'CR_PROD_CNT_CC', 'CR_PROD_CNT_CCFP', 'CR_PROD_CNT_IL',
       'CR_PROD_CNT_PIL', 'CR_PROD_CNT_TOVR', 'CR_PROD_CNT_VCU', 'PACK',
       'TARGET'],
      dtype='object')

In [21]:
ptd8 = pd.read_csv('/content/part_08.csv')
ptd8.head()

,ID,AVG_PCT_DEBT_TO_DEAL_AMT,AVG_PCT_MONTH_TO_PCLOSE,DEAL_GRACE_DAYS_ACC_AVG,DEAL_GRACE_DAYS_ACC_MAX,DEAL_GRACE_DAYS_ACC_S1X1,DEAL_YQZ_IR_MAX,DEAL_YQZ_IR_MIN,DEAL_YWZ_IR_MAX,DEAL_YWZ_IR_MIN,...,LDEAL_TENOR_MAX,LDEAL_TENOR_MIN,LDEAL_USED_AMT_AVG_YQZ,LDEAL_USED_AMT_AVG_YWZ,LDEAL_YQZ_CHRG,LDEAL_YQZ_COM,LDEAL_YQZ_PC,MAX_PCLOSE_DATE,MED_DEBT_PRC_YQZ,MED_DEBT_PRC_YWZ
0,268056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,580685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,304664,NaN,NaN,0.0,0.0,0.0,NaN,NaN,45.0,45.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0
3,491943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,363957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
ptd8.columns

Index(['ID', 'AVG_PCT_DEBT_TO_DEAL_AMT', 'AVG_PCT_MONTH_TO_PCLOSE',
       'DEAL_GRACE_DAYS_ACC_AVG', 'DEAL_GRACE_DAYS_ACC_MAX',
       'DEAL_GRACE_DAYS_ACC_S1X1', 'DEAL_YQZ_IR_MAX', 'DEAL_YQZ_IR_MIN',
       'DEAL_YWZ_IR_MAX', 'DEAL_YWZ_IR_MIN', 'LDEAL_ACT_DAYS_ACC_PCT_AVG',
       'LDEAL_ACT_DAYS_PCT_AAVG', 'LDEAL_ACT_DAYS_PCT_CURR',
       'LDEAL_ACT_DAYS_PCT_TR', 'LDEAL_ACT_DAYS_PCT_TR3',
       'LDEAL_ACT_DAYS_PCT_TR4', 'LDEAL_AMT_MONTH', 'LDEAL_DELINQ_PER_MAXYQZ',
       'LDEAL_DELINQ_PER_MAXYWZ', 'LDEAL_GRACE_DAYS_PCT_MED',
       'LDEAL_TENOR_MAX', 'LDEAL_TENOR_MIN', 'LDEAL_USED_AMT_AVG_YQZ',
       'LDEAL_USED_AMT_AVG_YWZ', 'LDEAL_YQZ_CHRG', 'LDEAL_YQZ_COM',
       'LDEAL_YQZ_PC', 'MAX_PCLOSE_DATE', 'MED_DEBT_PRC_YQZ',
       'MED_DEBT_PRC_YWZ'],
      dtype='object')

In [23]:
ptd9 = pd.read_csv('/content/part_09.csv')
ptd9.head()

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,SUM_TRAN_CLO_TENDENCY3M,SUM_TRAN_MED_TENDENCY1M,SUM_TRAN_MED_TENDENCY3M,SUM_TRAN_SUP_TENDENCY1M,SUM_TRAN_SUP_TENDENCY3M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,TRANS_COUNT_ATM_PRC,TRANS_COUNT_NAS_PRC,TRANS_COUNT_SUP_PRC
0,388271,0.000000,0.00000,0.398272,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.258170,0.400000,0.000000,0.866667,0.000000
1,428939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,519644,0.775311,0.00000,0.018451,0.022638,0.120000,0.48,NaN,0.428571,NaN,...,NaN,NaN,NaN,0.173412,0.383927,0.525575,0.440000,0.500000,0.060000,0.160000
3,195478,1.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000
4,270199,0.603218,0.01779,0.001350,0.145279,0.190476,1.00,0.142857,0.857143,0.166667,...,0.833055,0.252147,0.850374,0.438776,0.951836,0.977528,0.927632,0.138158,0.006579,0.440789

In [24]:
ptd9.columns

Index(['ID', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC', 'AMOUNT_RUB_NAS_PRC',
       'AMOUNT_RUB_SUP_PRC', 'CNT_TRAN_ATM_TENDENCY1M',
       'CNT_TRAN_ATM_TENDENCY3M', 'CNT_TRAN_AUT_TENDENCY1M',
       'CNT_TRAN_AUT_TENDENCY3M', 'CNT_TRAN_CLO_TENDENCY1M',
       'CNT_TRAN_CLO_TENDENCY3M', 'CNT_TRAN_MED_TENDENCY1M',
       'CNT_TRAN_MED_TENDENCY3M', 'CNT_TRAN_SUP_TENDENCY1M',
       'CNT_TRAN_SUP_TENDENCY3M', 'SUM_TRAN_ATM_TENDENCY1M',
       'SUM_TRAN_ATM_TENDENCY3M', 'SUM_TRAN_AUT_TENDENCY1M',
       'SUM_TRAN_AUT_TENDENCY3M', 'SUM_TRAN_CLO_TENDENCY1M',
       'SUM_TRAN_CLO_TENDENCY3M', 'SUM_TRAN_MED_TENDENCY1M',
       'SUM_TRAN_MED_TENDENCY3M', 'SUM_TRAN_SUP_TENDENCY1M',
       'SUM_TRAN_SUP_TENDENCY3M', 'TRANS_AMOUNT_TENDENCY3M',
       'TRANS_CNT_TENDENCY3M', 'TRANS_COUNT_ATM_PRC', 'TRANS_COUNT_NAS_PRC',
       'TRANS_COUNT_SUP_PRC'],
      dtype='object')

In [25]:
ptd10 = pd.read_csv('/content/part_10.csv')
ptd10.head()

,ID,REST_AVG_CUR,REST_AVG_PAYM,REST_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,REST_DYNAMIC_CUR_1M,REST_DYNAMIC_CUR_3M,REST_DYNAMIC_FDEP_1M,REST_DYNAMIC_FDEP_3M,REST_DYNAMIC_IL_1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,250536,7056.204833,0.0000,0.0,0.0,0.456743,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.824113,1.000000,0.0,0.0,0.000000,0.000000,0.000000
1,444978,16149.644083,0.0000,0.0,0.0,0.016949,0.210563,0.0,0.0,0.0,...,0.0,0.0,0.0,0.035411,0.243427,0.0,0.0,0.000000,0.000000,0.000000
2,356166,10988.560850,0.0000,0.0,0.0,0.181021,0.369580,0.0,0.0,0.0,...,0.0,0.0,0.0,0.184274,0.429457,0.0,0.0,0.000000,0.000000,0.000000
3,582903,24052.755017,0.0000,0.0,0.0,0.127678,0.811140,0.0,0.0,0.0,...,0.0,0.0,0.0,0.144068,0.288090,0.0,0.0,0.000000,0.000000,0.000000
4,270605,0.000000,8585.3738,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.124028,0.539843,45226.896667

In [26]:
ptd10.columns

Index(['ID', 'REST_AVG_CUR', 'REST_AVG_PAYM', 'REST_DYNAMIC_CC_1M',
       'REST_DYNAMIC_CC_3M', 'REST_DYNAMIC_CUR_1M', 'REST_DYNAMIC_CUR_3M',
       'REST_DYNAMIC_FDEP_1M', 'REST_DYNAMIC_FDEP_3M', 'REST_DYNAMIC_IL_1M',
       'REST_DYNAMIC_IL_3M', 'REST_DYNAMIC_PAYM_1M', 'REST_DYNAMIC_PAYM_3M',
       'REST_DYNAMIC_SAVE_3M', 'TURNOVER_CC', 'TURNOVER_DYNAMIC_CC_1M',
       'TURNOVER_DYNAMIC_CC_3M', 'TURNOVER_DYNAMIC_CUR_1M',
       'TURNOVER_DYNAMIC_CUR_3M', 'TURNOVER_DYNAMIC_IL_1M',
       'TURNOVER_DYNAMIC_IL_3M', 'TURNOVER_DYNAMIC_PAYM_1M',
       'TURNOVER_DYNAMIC_PAYM_3M', 'TURNOVER_PAYM'],
      dtype='object')

In [27]:
ptd11 = pd.read_csv('/content/part_11.csv')
ptd11.head()

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_REGISTR_RGN_CODE,APP_TRAVEL_PASS
0,341999,504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,359680,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,449928,480,N,PRIVATE,Y,SS,PRIVATE,NaN,M,NaN,69.0,N
3,406901,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,548016,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
ptd11.columns

Index(['ID', 'AGE', 'APP_CAR', 'APP_COMP_TYPE', 'APP_DRIVING_LICENSE',
       'APP_EDUCATION', 'APP_EMP_TYPE', 'APP_KIND_OF_PROP_HABITATION',
       'APP_MARITAL_STATUS', 'APP_POSITION_TYPE', 'APP_REGISTR_RGN_CODE',
       'APP_TRAVEL_PASS'],
      dtype='object')

In [29]:
ptd12 = pd.read_csv('/content/part_12.csv')
ptd12.head()

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,PRC_ACCEPTS_TK
0,367218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,313965,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,484369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,162251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,362543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
ptd12.columns

Index(['ID', 'CNT_ACCEPTS_MTP', 'CNT_ACCEPTS_TK', 'PRC_ACCEPTS_A_AMOBILE',
       'PRC_ACCEPTS_A_ATM', 'PRC_ACCEPTS_A_EMAIL_LINK', 'PRC_ACCEPTS_A_MTP',
       'PRC_ACCEPTS_A_POS', 'PRC_ACCEPTS_A_TK', 'PRC_ACCEPTS_MTP',
       'PRC_ACCEPTS_TK'],
      dtype='object')

Присоединяю датафрейм снизу

In [31]:
b1 = pd.concat([ptd5, ptd12], ignore_index=True)
b2 = pd.concat([ptd6, ptd10], ignore_index=True)
b3 = pd.concat([ptd2, ptd11], ignore_index=True)
b4 = pd.concat([ptd1, ptd9], ignore_index=True)
b5 = pd.concat([ptd3, ptd8], ignore_index=True)
b6 = pd.concat([ptd4, ptd7], ignore_index=True)

In [32]:
b1

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,PRC_ACCEPTS_TK
0,556073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,355572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,588838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,579911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
355185,493522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
355186,177598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355187,569739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355188,280318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355189,500900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_new = b1.merge(b2, left_on='ID', right_on='ID')
df_new = df_new.merge(b3, left_on='ID', right_on='ID')
df_new = df_new.merge(b4, left_on='ID', right_on='ID')
df_new = df_new.merge(b5, left_on='ID', right_on='ID')
df_new = df_new.merge(b6, left_on='ID', right_on='ID')
df_new = df_new.sort_values(by='ID')
df_new

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
108255,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,K01,0
3233,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
125063,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
88141,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,K01,0
198927,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184358,590818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.915485,NaN,0,0,0,0,0,0,102,0
128062,590820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.910109,NaN,0,0,0,0,0,0,105,0
212418,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
213330,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,O01,0
199451,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,SISTER,0,0,0,0,1,0,K01,1

In [34]:
df_new.shape

(214363, 116)

Сортирую колонку ID по возрастанию при помощи функции sort_values

In [35]:
df1 = df_new.sort_values("ID") 
df1

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
108255,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,K01,0
3233,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
125063,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
88141,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,K01,0
198927,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184358,590818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.915485,NaN,0,0,0,0,0,0,102,0
128062,590820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.910109,NaN,0,0,0,0,0,0,105,0
212418,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
213330,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,O01,0
199451,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,SISTER,0,0,0,0,1,0,K01,1

Удаляю всевозможные дубликаты

In [36]:
df1.drop_duplicates(keep= False )

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
108255,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,K01,0
3233,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
125063,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
88141,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,K01,0
198927,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184358,590818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.915485,NaN,0,0,0,0,0,0,102,0
128062,590820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.910109,NaN,0,0,0,0,0,0,105,0
212418,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
213330,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,O01,0
199451,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,SISTER,0,0,0,0,1,0,K01,1

In [37]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214363 entries, 108255 to 199451
Data columns (total 116 columns):
 #    Column                       Dtype
---   ------                       -----
 0    ID                           int64
 1    CNT_ACCEPTS_MTP              float64
 2    CNT_ACCEPTS_TK               float64
 3    PRC_ACCEPTS_A_AMOBILE        float64
 4    PRC_ACCEPTS_A_ATM            float64
 5    PRC_ACCEPTS_A_EMAIL_LINK     float64
 6    PRC_ACCEPTS_A_MTP            float64
 7    PRC_ACCEPTS_A_POS            float64
 8    PRC_ACCEPTS_A_TK             float64
 9    PRC_ACCEPTS_MTP              float64
 10   PRC_ACCEPTS_TK               float64
 11   REST_AVG_CUR                 float64
 12   REST_AVG_PAYM                float64
 13   REST_DYNAMIC_CC_1M           float64
 14   REST_DYNAMIC_CC_3M           float64
 15   REST_DYNAMIC_CUR_1M          float64
 16   REST_DYNAMIC_CUR_3M          float64
 17   REST_DYNAMIC_FDEP_1M         float64
 18   REST_DYNAMIC_FDEP_3M         float64
 19   REST_DYNAMIC_IL_1M           float64
 20   REST_DYNAMIC_IL_3M           float64
 21   REST_DYNAMIC_PAYM_1M         float64
 22   REST_DYNAMIC_PAYM_3M         float64
 23   REST_DYNAMIC_SAVE_3M         float64
 24   TURNOVER_CC                  float64
 25   TURNOVER_DYNAMIC_CC_1M       float64
 26   TURNOVER_DYNAMIC_CC_3M       float64
 27   TURNOVER_DYNAMIC_CUR_1M      float64
 28   TURNOVER_DYNAMIC_CUR_3M      float64
 29   TURNOVER_DYNAMIC_IL_1M       float64
 30   TURNOVER_DYNAMIC_IL_3M       float64
 31   TURNOVER_DYNAMIC_PAYM_1M     float64
 32   TURNOVER_DYNAMIC_PAYM_3M     float64
 33   TURNOVER_PAYM                float64
 34   AGE                          int64
 35   APP_CAR                      object
 36   APP_COMP_TYPE                object
 37   APP_DRIVING_LICENSE          object
 38   APP_EDUCATION                object
 39   APP_EMP_TYPE                 object
 40   APP_KIND_OF_PROP_HABITATION  object
 41   APP_MARITAL_STATUS           object
 42   APP_POSITION_TYPE            object
 43   APP_REGISTR_RGN_CODE         float64
 44   APP_TRAVEL_PASS              object
 45   AMOUNT_RUB_ATM_PRC           float64
 46   AMOUNT_RUB_CLO_PRC           float64
 47   AMOUNT_RUB_NAS_PRC           float64
 48   AMOUNT_RUB_SUP_PRC           float64
 49   CNT_TRAN_ATM_TENDENCY1M      float64
 50   CNT_TRAN_ATM_TENDENCY3M      float64
 51   CNT_TRAN_AUT_TENDENCY1M      float64
 52   CNT_TRAN_AUT_TENDENCY3M      float64
 53   CNT_TRAN_CLO_TENDENCY1M      float64
 54   CNT_TRAN_CLO_TENDENCY3M      float64
 55   CNT_TRAN_MED_TENDENCY1M      float64
 56   CNT_TRAN_MED_TENDENCY3M      float64
 57   CNT_TRAN_SUP_TENDENCY1M      float64
 58   CNT_TRAN_SUP_TENDENCY3M      float64
 59   SUM_TRAN_ATM_TENDENCY1M      float64
 60   SUM_TRAN_ATM_TENDENCY3M      float64
 61   SUM_TRAN_AUT_TENDENCY1M      float64
 62   SUM_TRAN_AUT_TENDENCY3M      float64
 63   SUM_TRAN_CLO_TENDENCY1M      float64
 64   SUM_TRAN_CLO_TENDENCY3M      float64
 65   SUM_TRAN_MED_TENDENCY1M      float64
 66   SUM_TRAN_MED_TENDENCY3M      float64
 67   SUM_TRAN_SUP_TENDENCY1M      float64
 68   SUM_TRAN_SUP_TENDENCY3M      float64
 69   TRANS_AMOUNT_TENDENCY3M      float64
 70   TRANS_CNT_TENDENCY3M         float64
 71   TRANS_COUNT_ATM_PRC          float64
 72   TRANS_COUNT_NAS_PRC          float64
 73   TRANS_COUNT_SUP_PRC          float64
 74   AVG_PCT_DEBT_TO_DEAL_AMT     float64
 75   AVG_PCT_MONTH_TO_PCLOSE      float64
 76   DEAL_GRACE_DAYS_ACC_AVG      float64
 77   DEAL_GRACE_DAYS_ACC_MAX      float64
 78   DEAL_GRACE_DAYS_ACC_S1X1     float64
 79   DEAL_YQZ_IR_MAX              float64
 80   DEAL_YQZ_IR_MIN              float64
 81   DEAL_YWZ_IR_MAX              float64
 82   DEAL_YWZ_IR_MIN              float64
 83   LDEAL_ACT_DAYS_ACC_PCT_AVG   float64
 84   LDEAL_ACT_DAYS_PCT_AAVG      float64
 85   LDEAL_ACT_DAYS_PCT_CURR      float64
 86   LDEAL_ACT_DAYS_PCT_TR        float64
 87   LDEAL_ACT_DAYS_PCT_TR3       float64
 88   LDEAL_ACT_DAYS_PCT_TR4       float64
 89   LDEAL_AMT_MONTH              float64
 90   LDEAL_DELINQ_PER_MAXYQZ      float64
 91   LDEAL_DELINQ_PER_MAXYWZ      float64
 92   LDEAL_GRACE_DAYS_PCT_MED     float64
 93   LDEAL_TENOR_MAX              float64
 94   LDEAL_TENOR_MIN              float64
 95   LDEAL_USED_AMT_AVG_YQZ       float64
 96   LDEAL_USED_AMT_AVG_YWZ       float64
 97   LDEAL_YQZ_CHRG               float64
 98   LDEAL_YQZ_COM                float64
 99   LDEAL_YQZ_PC                 float64
 100  MAX_PCLOSE_DATE              float64
 101  MED_DEBT_PRC_YQZ             float64
 102  MED_DEBT_PRC_YWZ             float64
 103  CLNT_JOB_POSITION            object
 104  CLNT_JOB_POSITION_TYPE       object
 105  CLNT_SALARY_VALUE            float64
 106  CLNT_SETUP_TENOR             float64
 107  CLNT_TRUST_RELATION          object
 108  CR_PROD_CNT_CC               int64
 109  CR_PROD_CNT_CCFP             int64
 110  CR_PROD_CNT_IL               int64
 111  CR_PROD_CNT_PIL              int64
 112  CR_PROD_CNT_TOVR             int64
 113  CR_PROD_CNT_VCU              int64
 114  PACK                         object
 115  TARGET                       int64
dtypes: float64(94), int64(9), object(13)
memory usage: 191.3+ MB

Привожу текстовые значения к нижнему регистру при помощи функции str.lower

In [38]:
df1.APP_CAR = df1.APP_CAR.str.lower()
df1.APP_COMP_TYPE = df1.APP_COMP_TYPE.str.lower()
df1.APP_DRIVING_LICENSE = df1.APP_DRIVING_LICENSE.str.lower()
df1.APP_EDUCATION = df1.APP_EDUCATION.str.lower()
df1.APP_EMP_TYPE = df1.APP_EMP_TYPE.str.lower()
df1.APP_KIND_OF_PROP_HABITATION = df1.APP_KIND_OF_PROP_HABITATION.str.lower()
df1.APP_MARITAL_STATUS = df1.APP_MARITAL_STATUS.str.lower()
df1.APP_POSITION_TYPE = df1.APP_POSITION_TYPE.str.lower()
df1.APP_TRAVEL_PASS = df1.APP_TRAVEL_PASS.str.lower()
df1.CLNT_JOB_POSITION = df1.CLNT_JOB_POSITION.str.lower()
df1.CLNT_JOB_POSITION_TYPE = df1.CLNT_JOB_POSITION_TYPE.str.lower()
df1.CLNT_TRUST_RELATION = df1.CLNT_TRUST_RELATION.str.lower()
df1.PACK = df1.PACK.str.lower()

In [39]:
list(df1.PACK.unique())

['k01',
 '102',
 '105',
 'o01',
 '101',
 '107',
 '301',
 '104',
 '103',
 '108',
 '109',
 'm01']

In [40]:
list(df1.CLNT_TRUST_RELATION.unique())

[nan,
 'brother',
 'friend',
 'mother',
 'sister',
 'other',
 'relative',
 'daughter',
 'father',
 'son',
 'друг',
 'сын',
 'мать',
 'брат',
 'сестра',
 'близкий ро',
 'отец',
 'дочь',
 'дальний ро',
 'муж',
 'жена']

In [41]:
list(df1.APP_CAR.unique())

[nan, 'n', 'y']

In [42]:
list(df1.APP_COMP_TYPE.unique())

[nan, 'state', 'private', 'ip', 'inter']

In [43]:
list(df1.APP_DRIVING_LICENSE.unique())

[nan, 'y', 'n']

In [44]:
list(df1.APP_EDUCATION.unique())

[nan, 'hh', 'h', 'ss', 'uh', 's', 'a', 'i', 'us', 'hi', 'e', 'ac', 'av']

In [45]:
list(df1.APP_EMP_TYPE.unique())

[nan, 'state', 'private', 'ip', 'inter']

In [46]:
list(df1.APP_KIND_OF_PROP_HABITATION.unique())

[nan, 'rent', 'so', 'other', 'jo', 'nprivat']

In [47]:
list(df1.APP_MARITAL_STATUS.unique())

[nan, 'm', 'v', 't', 'd', 'n', ' ', 'w', 'c']

In [48]:
list(df1.APP_POSITION_TYPE.unique())

[nan, 'specialist', 'self_empl', 'manager', 'top_manager']

In [49]:
list(df1.APP_TRAVEL_PASS.unique())

[nan, 'n', 'y']

In [50]:
list(df1.CLNT_JOB_POSITION.unique())

['начальник отдела',
 nan,
 'генеральный директор',
 'менеджер иао',
 'директор',
 'предприниматель',
 'экономист',
 'менеджер',
 'системотехник',
 'медицинский представитель',
 'техник геофизик',
 'водитель-экспедитор',
 'ген. директор',
 'зам.директора по туризму',
 'заместитель генерального директора',
 'специалист отдела кадров',
 'заместитель начальника отдела',
 'специалист',
 'грузчик-наборщик',
 'программист',
 'звукоинженер',
 'зам. директора по кадровым вопросам',
 'матрос',
 'курьер',
 'руководитель направления',
 'лаборант',
 'финансовый директор',
 'врач',
 'зам. директора',
 'водитель',
 'врач анестезиолог реаниматолог',
 'водителоь-экспедитор',
 'инженер-программист',
 'индивидуальный предприниматель',
 'редактор сайта gameland.ru',
 'вед.специалист эксперт',
 'бухгалтер',
 'специалист 1-го разряда',
 'администратор',
 'мастер механик',
 'дизайнер',
 'ведущий специалист',
 'начальник участка',
 'зам.финансового директора',
 'инженер',
 'руководитель отдела',
 'прессаташе',
 'управляющий магазином',
 'управляющая',
 'ген.директор',
 'офис-менеджер',
 'зам. генерального директора',
 'зам.директора',
 'учитель',
 'зам директора',
 'продавец-консультант',
 'технический директор',
 'менеджер по закупкам',
 'слесарь мср',
 'начальник отдела продаж',
 'региональный представитель',
 'мастер',
 'мастер парикмахер',
 'прораб',
 'медицинский менеджер',
 'руководитель',
 'зам директора по развитию',
 'торговый представитель',
 'начальник цеха',
 '--',
 'специалист цпк',
 'директор фирмы',
 'коммерческий директор',
 'зам. начальника',
 'служащий',
 'палатная санитарка',
 'главный эксперт',
 'кровельщик',
 'зам директор по развитию',
 'руководитель проекта',
 'консультант',
 'преподаватель',
 'преподаватель англ.яз.',
 'ведущий инженер',
 'ведущий специалист-аналитик',
 'секретарь',
 'установщик мебели',
 'снабженец',
 'зам.генерального директора',
 'менеджер/специалист',
 'охранник',
 'заместитель руководителя',
 'системный администратор',
 'руководитель службы персонала',
 'программист 1-ой категории',
 'менеджер по it проектам',
 'инженер-конструктор',
 'менеджер-координатор',
 'менеджер-логист',
 'главный специалист',
 'механик',
 'шлифовщик',
 'судья',
 'частный инвестор',
 'эксперт по гарантии',
 'менеджер по персоналу',
 '2-ой механик',
 'соц работник',
 'плиточник',
 'менеджер по продажам',
 'медсестра',
 'зам.начальника отдела',
 'мерчендайзер',
 'зам. главного инженера',
 'управляющий',
 'инженер проекта',
 'стилист',
 'руководитель отдела сопровождения',
 'редактор отдела культуры и спорта',
 'гл. бухгалтер',
 'руководитель .департамента',
 'руководитель отдела продаж',
 'биржевой брокер',
 'начальник отдела вк',
 'повар салатного цеха',
 'начальник службы',
 'освобожденный бригадир',
 'видео дизайнер',
 'оператор',
 'водитель-экспедитор доставки',
 'зам.директора департамента',
 'гл.бухгалтер',
 'инженер механик',
 'исполнительный директор',
 'зам. руководителя отдела продаж',
 'доц.кафедры радиофизики и т.физики',
 'ассистент',
 'юрист',
 'охранник гбр',
 'зам.начальника департамента',
 'менеджнр по междкнар.закупкам',
 'сотрудник по раб. с болельщиками',
 'агент по продажам',
 'проэктный менеджер',
 'оператор чпу',
 'гл.механик',
 'веб-дизайнер',
 'webmaster',
 'начальник спец отд. номер 2',
 'психолог',
 'член бригады подготовки и открытия',
 'контролёр кпво',
 'командир воздушного судна',
 'доцент',
 'зам.по развитию',
 'руководитель группы дмс',
 'супервайзер',
 'системный специалист',
 'повар',
 'педагог дополнительного образования',
 'инженер по наладке и установке',
 'старший инспекор',
 'бухгалтер-калькулятор',
 'нач. управления',
 'финансовый контролер',
 'директор департамента',
 'главный врач',
 'архитектор-дизайнер',
 'ведущий эксперт',
 'кладовщик',
 'адвокат',
 'зам. руководителя проекта',
 'журналист',
 'докер',
 'главный инженер',
 'техник пто',
 'дежурный по станции',
 'оптик-технолог',
 'ком. директор',
 'зам.ген.директора по коммер.вопроса',
 'представитель компании',
 'региональный менеджер',
 'сити менеджер',
 'главный бухгалтер',
 'инженер- программист',
 'ведущий аналитик',
 'студент',
 'парикмахер',
 'мастер производственного участка',
 'старший инспектор',
 'экспедитор',
 'начальник управления',
 'архитектор',
 'главный специалист пто',
 'главный специалист-эксперт',
 'начальник админ. хоз. управления',
 'заместитель коммерческого директора',
 'дистрибьютор',
 'продюсер',
 'зам.ген.директора',
 'врачь',
 'художник постановщик',
 'стюардесса',
 'электрообмотчик',
 'главный геолог',
 'старший научный сотрудник',
 'менеджер проектов',
 'эксперт',
 'главный технолог',
 'заместитель директора',
 'ип',
 'специалист по то',
 'юрисконсульт',
 'заведующий сектором',
 'инструктор пдп',
 'зам. исполнительного директора',
 'строитель',
 'региональный директор по произ-ву',
 'специалист по страхованию',
 'старший преподаватель',
 'капитан',
 'федеральный менеджер проектов',
 'рук-ль дилерского отдела',
 'зав.общежитием',
 'арт.директор',
 'продавец',
 'член комиссии',
 'помощник судьи',
 'зав.отделением',
 'фрилансер',
 'фитнес-тренер',
 'машинист крана',
 'провизор  технолог',
 'начальник департамента лизинговых',
 'директор по развитию',
 'тренер преподователь',
 'помощник бухгалтера',
 'сменный мастер группы',
 'разнорабочий',
 'менеджер по прямому маркетингу',
 'внс',
 'участковая мед.сестра',
 'програмист',
 'начальник фин.отдела',
 'руководитель по работе с клиентами',
 'зам.начальника по работе с корпорат',
 'специалист тендерного отдела',
 'третий секретарь',
 'технический консультант',
 'инженер-электроник',
 'пенсионер',
 'аналитик',
 'председатель',
 'управляющий филиала',
 'технолог',
 'зам нач юр отдела',
 'бизнес аналитик',
 'арт-директор',
 'директор по работе с инвесторами',
 'бурильщик',
 'старший инженер программист',
 'помощник начальника',
 '-',
 'руковдитель представительства',
 'президент',
 'фитер',
 'кладавщик',
 'бармен',
 'слесарь',
 'начальник транспортного отдела',
 'заведующая отделением',
 'старший аппаратчик',
 'дерматолог',
 'директор по региональным продажам',
 'подсобный рабочий',
 'менеджер отдела продаж',
 'помощник  капитана',
 'риэлтер',
 'начальник отдела внедрения',
 'зам.директора по развитию',
 'начальник производства',
 'милиционер 9 рота',
 'переводчик',
 'зам.ген.директора по экономике',
 'тренер',
 'ведущий программист',
 'зав.аптекой',
 'машинист насосных установок',
 'инженер птo',
 'консультатнт',
 'младший научный сотрудник',
 'упаковщик',
 'телеведущий',
 'логист',
 'начальник it-отдела',
 'не работает',
 'мед сестра',
 'заведующий хранилищем',
 'гл бухгалтер',
 'зам.рук-ля отдела',
 'продавец-логист',
 'регистратор',
 'начальник  отдела',
 'координатор',
 'маркетолог',
 'преподаватель каф. ин языков',
 'начальник отдела снабжения',
 'независимый предприниматель',
 'костюмер',
 'зав. производством',
 'зам глав бухгалтер',
 'инжнер-программист 2 категории',
 'старший администратор',
 'инженер по информационн. технология',
 'начальник смены',
 'ведущий инженер-технолог по рмц',
 'концертный директор',
 'аппаратчик химвода',
 'глав.бухгалтер',
 'зав.гаражом',
 'рабочий',
 'ведущий консультант деп.консалтинга',
 'инспектор',
 'зам. ген. директора',
 'водитель а/м',
 'разработчик',
 'портье',
 'плитальщик',
 'грузовой агент',
 'консультанат',
 'инженер программист',
 'инженер-механик',
 'финансовый консультант',
 'продавец-мерчендайзер',
 'заместитель директора по проектиров',
 'инженер  категории',
 'методист по культ-но просвет работе',
 'зам.глав.бухгалтера',
 'фотограф',
 'маляр',
 'зам.директора по экономике',
 'следователь',
 'ген директор',
 'председатель совета директоров',
 'менджер',
 'руководитель веб-проектов',
 'старший следователь',
 'линейщик',
 'менеджер вэд',
 'инженер проэктировщик',
 'рук. ахо',
 'зам директор',
 'зам.исполнит.директора',
 'начальник отд. продаж',
 'инструктор',
 'младший воспитатель',
 'исполнительный секретарь',
 'медицинский предстовитель',
 'старший специалист',
 'командир авиационной эскадрильи',
 'региональный управляющий',
 'технический менеджер',
 'ст операционно-кассовый работник',
 'мерчандайзер',
 'представитель по развитию',
 'оператор азс',
 'коммерческий агент',
 'инженер по гарантии',
 'менеждер',
 'художник',
 'специалист по продажам',
 'зав. диспансерным отделением',
 'ответст. секретарь',
 'руководитель проектов',
 'зам. директор',
 'телеоператор',
 'хореограф',
 'управляющий директор',
 'специалист по календарному планиров',
 'бригадир смены',
 'мастер чистоты',
 'геймдизайнер',
 'помощник машиниста',
 'ассистент переводчика',
 'заместитель директора департамента',
 'артист хора',
 'киномеханик',
 'старший мастер',
 'руководитель оп новосибирск',
 'строй-менеджер',
 'помощник руководителя',
 '4 механик',
 'специалист по тестированию',
 'техник',
 'генеральный менеджер',
 'вед.экономист',
 'сборщик мебели',
 'риэлтор',
 'пердприниматель',
 'профессор',
 'менеджер по работе с клиентами',
 'закупщик',
 'директор по проектам',
 'спортсмен профессионал',
 'инженер разработчик асу',
 'корреспондент',
 'бугалтер',
 'специалист мто',
 'старший консультант',
 'начальник мастерской авто тэч',
 'диспетчер',
 'мастер по пошиву одежды',
 'модель',
 'комерческии директор',
 'старший группы гбр',
 'администратор проекта',
 'учащийся',
 'бухгалтер-эксперт',
 'методист',
 'акушер-гинеколог',
 'юристконсульт',
 'ведущий научный сотрудник',
 'директор по развитию фил-й сети',
 'директор по производству',
 'гениральный директор',
 'начальник логистики',
 'консультант по страхованию',
 'руководитель финансового отдела',
 'сторож',
 'ландшафтный дизайнер',
 'музыкальный руководитель',
 'страховой агент',
 'помощник преподавателя',
 'земеститель технического директора',
 'скорняг',
 'лаборант хим анализа',
 'эксперт-консультант',
 'модельщик',
 'главный экономист',
 'интернет маркетолог',
 'кае',
 'директор по вопросам собств.',
 'ногтевой мастер',
 'менеджер по поставкам',
 'старший механик',
 'специалист-эксперт',
 'второй штурман',
 'оперуполномоченный',
 'директор магазина',
 'вед. конструктор',
 'педагог',
 'бульдозерист',
 'сварщик',
 'инд.предприниматель',
 'гл.экономист',
 'заместитель главного бухгалтера',
 'домохозяйка',
 'уборщик',
 'инженер пто',
 'директора',
 'врач хирург',
 'recruitment meneger',
 'фельдшер-лаборант',
 'электромонтер по рем',
 'товаровед',
 'преподаватель английского языка',
 'мастер строительного участка',
 'мастер цеха',
 'заведующий производства',
 'нач.ком.отдела',
 'педиатр',
 'оператор днг',
 'началльник отдела маркетинга',
 'кассир',
 'старший кассир',
 'инженер по охране труда',
 'аспирант',
 'sales meneger',
 'техник опс',
 'заместитель главного инженера',
 'ведущий конструктор',
 'начальник отдела реализации',
 'ведущий экономист',
 'тестировщик',
 'начальник отдела ит',
 'фрезеровщик',
 'военнослужащий',
 'почтальон',
 'зам. гендиректора',
 'проводник',
 'старший пожарный',
 'зав.складом',
 'уборщица',
 'директор по ит',
 'страховой консультант',
 'стоматолог',
 'административный директор',
 'электромонтер',
 'руководитель отдела разработки',
 'ипбоюл',
 'зав. редакцией',
 'менеджер по туризму',
 'руководитель бюро продаж',
 'инженер-проектировщик',
 'начальник центра 2',
 'старший менеджер',
 'информационная справочная',
 'старший инженер',
 'стволовой (подземный)',
 'эксперт-менеджер',
 'специалист по развитию партнерских',
 'научный сотрудник',
 'начальник территориального отдела',
 'территориальный менеджер',
 'менеджер по качеству',
 'зам ген директора',
 'ком.директор',
 'заместитель начальника экспедиции',
 'трубопроводчик',
 'руководитель рецепции',
 'продюссер',
 'зам.главного метролога',
 'креативный директор',
 'военный пенсионер',
 'официант',
 'главный энергетик',
 'представитель по урфо',
 'начальник конструкторскогобюро',
 'специалист брокерского отдела',
 'логист-оператор',
 'звукорежиссер - dj',
 '.',
 'генеральный  директор',
 'инженер по ремонту',
 'координатор окзиц',
 'ассистент менеджера по персоналу',
 'кочегар',
 'специалист отдела продаж',
 'pr-менеджер',
 'электрослесарь',
 'комерческий директор',
 'риелтор',
 'проект-менеджер',
 'артдиректор',
 'старший оперуполномоченный',
 'специалист по недвижимости',
 'грузчик',
 'помощник бурильщика',
 'ст. помощник прокурора',
 'менеджер-переводчик',
 'ведущий специалист-эксперт',
 'помошник руководителя',
 'руководитель регионального отдела',
 'редактор моды',
 'бренд-менеджер',
 'начальник ок',
 'студентка',
 'ведуший маркетолог',
 'директор гр.vip',
 'контролер',
 'вед.инженер',
 'помощник менеджера по продажам',
 'специалист по выдаче',
 'водитель международник',
 'ст. менеджер',
 'маркетолог-аналитик',
 'газоэлекторосварщик',
 'старший аналитик',
 'старший юрист',
 'зам. директора по строительству',
 'зам начальника отдела маркетинга',
 'режиссер новостей',
 'старший объекта',
 'помощник директора',
 'руководитель абоненского отдела',
 'соучредитель',
 'массажист',
 'начальник отдела охраны труда',
 'кастомер',
 'зам начальника отдела',
 'исп. директор',
 'специалист склада',
 'инженер отд мтc',
 'бухгалтер-кассир',
 'специалист по рекламе',
 'заместитель финансового директора',
 'продавец-кассир',
 'дальнобойщик',
 'пом врача-эпидем',
 'юрист-консульт',
 'артист оркестра',
 'управляющий партнер',
 'руководитель направления онлайн дис',
 'врач психотерапевт',
 'администратор 2 кат',
 'учредитель',
 'артист',
 'продовец-консультант',
 'гл.архитектор',
 'системный архитектор',
 'газоэлектросварщик',
 'проректор по воспитательной работе',
 'сборщик',
 'монтажник',
 'руководитель отдела развития',
 'свадебный фотограф',
 'начальник',
 'пожарный',
 'помощник менеджера',
 'продавец консультант',
 'менеджер оркк',
 'водитель экспедитор',
 'специалист по рекламациям',
 'вице-президент по продажам',
 'менеджер healthclub',
 'начальник департамента',
 'директор по экономике и финансам',
 'видеоинженер',
 'главный архитектор',
 'начальник рекламного отдела',
 'машининст',
 'завхоз',
 'матрос-эксковаторщик',
 'sekond engineer',
 'декретный отпуск',
 'врач-ординатор',
 'трейдер',
 'руководитель отдела информ. безопас',
 'инженер 2 категории',
 'начальник участка металообработки',
 'мед. представитель',
 'подручный сталевара',
 'зам. дир.',
 'зам. начальника отдела',
 'инструктор по вождению',
 'охраннмик',
 'геолог',
 'сотрудник',
 'оператор дпу в хим пр 4р',
 'зам.начальника',
 'глав.инженер',
 'ведущий прогр.',
 'лобарант',
 'начальник группы обучения',
 'менеджер по производству',
 'учередитель',
 'геннеральный директор',
 'региональный директор по продажам',
 'консультант по табачной продукции',
 'менеджер отдела закупок',
 'редактор викторин',
 'тех.директор',
 'гео-физик',
 'официантка',
 'заместитель главы',
 'разработчик програмного обеспечения',
 'контент-менеджер',
 'фармацевт',
 'сервисный инженер',
 'продавец - консультант',
 'секретарь-референт',
 'врач-пульманолог',
 'инженер планово-производственного о',
 'менеджер по развитию бизнеса',
 'глав врач',
 'специалист по ит 2 категории',
 'врач-офтальмолог',
 'вед специалист',
 'инженер-электрик',
 'специалист по разработке систем иб',
 'зам.гл.бухгалтера',
 'юрист консультант',
 'фин.менеджер',
 'менеджер по учету',
 'стилист-парикмахер',
 'агент',
 'главный специалист отдела снабжения',
 'pr-директор',
 'ассистент менеджера',
 'фин.директор',
 'специалист фен-шуй',
 'младший разработчик',
 'зам.директор',
 'пресвитер',
 'дистребьютор',
 'продавец-флорист',
 'сервис-инженер',
 'старший программист',
 'ведущий специалист ит',
 'торговый агент',
 'гос.инспектор',
 'зав. отделения',
 'гл. специалист',
 'менеджер по связи с общ.',
 'комплектовщик',
 'социальный работник',
 'и.о. начальника',
 'сотрудник сэб',
 'специалист отдела клиентского серви',
 'зам. директора по маркетингу',
 'оператор-кассир',
 'специалист-парикмахер',
 'боцман',
 'инженер-технолог',
 'помощник капитана',
 'врач-стоматолог',
 'электромонтажник',
 'профессор кафедры',
 'зам. директора.',
 'генеральный деректор',
 'стажор',
 'аварийный комиссар',
 'qc certification specialist',
 'начальник юридического отдела',
 'мед.представитель',
 'смм специалист',
 'менеджер по работе с проектами',
 'помошник директора',
 'преподователь',
 'конструктор',
 'оператор-переводчик',
 'старший продавец консультант',
 'директор тренинговых программ',
 'руководитель группы вэд',
 'ассистент кафедры иб',
 'инженер-программист i кат.',
 'актриса',
 'гл.инженер',
 'тех. директор',
 'инженер-строитель',
 'директор филиала',
 'директор по персооналу',
 'web-administrator',
 'сист. админ.',
 'слесарь-ремонтник',
 'преподаватель аспирант',
 'руководитель коммерческого отдела',
 'salesperson',
 'штамповщик',
 'оператор сто',
 'клинический ординатор',
 'менеджер по логистике',
 'электрогазосварщик',
 'механик-диагност',
 'сотрудник отдела сопровождения',
 'специалист по ит',
 'менеджер по маркетингу',
 'энергетик',
 'оператор при дежурного по станции',
 'специалист по эк оценке проектов',
 'тме',
 'консультант одела',
 'руководитель отдела учета товаров',
 'главный тренер',
 'управляющий торг.залом',
 'контроллер окк',
 'визажист',
 'специалист отдела денежного обращен',
 'глава представительства',
 'врач стоматолог',
 'пом. директора',
 'директор универсама',
 'частный предприниматель',
 'региональный руководитель',
 'начальник комерческого отдела',
 'начальник планово-эконом. бюро',
 'начальник кафедры',
 'начальник сектора',
 'руководитель филиала',
 'грузчик-экспедитор',
 'инженер по то',
 'специалист оско',
 'начальник стс',
 'нач. отдела орэм',
 'начальник отдела приема',
 'начальник службы художников',
 'оператор поста цен-и',
 'специалист 1го разряда',
 'старший помощник капитана',
 'ведущий юрисконсульт',
 'начальник ит',
 'не работаю',
 'руководитель цак г.нижневартовск',
 'ведущий ветеринарный врач',
 'слесарь кип',
 'старший разработчик по',
 'гл. гос. таможенный инспектор',
 'инженер по кинопоказу',
 'ординатор',
 'сменный капитан-механик',
 'глав.бух.',
 'менеджер по рекламе',
 'аппаратчик',
 'менеждер по закупкам',
 'начальник отдела сбыта',
 'автомеханик',
 '3 механик',
 'координатор отдела продаж',
 'зам. руководителя',
 'упровляющий проектами',
 'ведущий менеджер по маркетингу',
 'начальник офиса',
 'машинист автокрана',
 'лингвист',
 'штурман',
 'инженер оопп',
 'инженер технической поддержки',
 'зам.по техническим вопросам',
 'зам главного бухгалтера',
 'формовщик',
 'стажер адвокат',
 'стрелок',
 'таможенный инспектор',
 'ассистент кафедры',
 'мастер слесарного участка',
 'спец. дирек.креативного планир.',
 'it',
 'помощник адвоката',
 'главный редактор',
 'зам.главного бухгалтера',
 'секретарь руководства',
 '8482772711',
 'менеджер по развитию территории',
 'корпоративный тренер',
 'консультант по внешнеэконом. деятел',
 'документовед',
 'начальник отдела транспорта',
 'зам.директора по финансам',
 'оператор обезвоживающей и',
 'помощник главного бухгалтера',
 'дизайнер интерфейсов',
 'курьер-экспедитор',
 'старший пастор',
 'начальник отдела геодезии',
 'старший бухгалтер',
 'ведущий бизнес-аналитик',
 'зав.отдела рекламы',
 'ит специалист',
 'старший офицант',
 'представитель в г.мурманск',
 'штатный юрист',
 'оку',
 'ученик',
 'финансовый аналитик',
 'главный специалист отдела продаж',
 'инженер 2 кат',
 'сменный мастер',
 'дирестор регионального представител',
 'владелец',
 'музыкант',
 'ведущий консультант',
 'линейный продюсер',
 'договорник',
 'главный бухгалтер-начальник отдела',
 'начальник материал. отдела',
 'спортсмен-инструктор',
 'заведующая столовой',
 'редактор',
 'зам.главного врача',
 'адвокатский кабинет ирины гребневой',
 'кондитер',
 'советник президента палаты',
 'представитель',
 'менеджер отдела учета',
 'тренер-реабилитолог',
 'начальник сдо',
 'менеджер по закупки',
 'менеджер по работе с персоналом',
 'слесарь-монтажник',
 'актер',
 'специалист отдела оплаты',
 'зав.отделения',
 'региональный директор',
 'менеджер по работе с сетями',
 'директор депеартамента',
 'автослесарь',
 'хирург-онко-уролог',
 'нии фхб мгу',
 'зав.лабораторией',
 'гл.бухгатер',
 'специалист по маркетингу',
 'моторист-рулевой',
 'руководитель подразделения',
 'руководитель оптовых продаж',

In [51]:
list(df1.CLNT_JOB_POSITION_TYPE.unique())

[nan, 'specialist', 'self_empl', 'manager', 'top_manager']

Замена значенийв столбце на другие значения при помощи команды replace

In [52]:
df1.CLNT_TRUST_RELATION.replace('mother','мать',inplace=True) 
df1.CLNT_TRUST_RELATION.replace('brother','брат',inplace=True) 
df1.CLNT_TRUST_RELATION.replace('friend','друг',inplace=True)
df1.CLNT_TRUST_RELATION.replace('sister','сестра',inplace=True) 
df1.CLNT_TRUST_RELATION.replace('other','другие',inplace=True) 
df1.CLNT_TRUST_RELATION.replace('relative','родственник',inplace=True)
df1.CLNT_TRUST_RELATION.replace('daughter','дочь',inplace=True)
df1.CLNT_TRUST_RELATION.replace('son','сын',inplace=True)
df1.CLNT_TRUST_RELATION.replace('father','отец',inplace=True)

In [53]:
list(df1.CLNT_TRUST_RELATION.unique())

[nan,
 'брат',
 'друг',
 'мать',
 'сестра',
 'другие',
 'родственник',
 'дочь',
 'отец',
 'сын',
 'близкий ро',
 'дальний ро',
 'муж',
 'жена']

Замена значений на Nan

In [54]:
df1.replace(r'^\s+$', np.nan, regex=True)

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
108255,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
3233,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
125063,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
88141,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
198927,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184358,590818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.915485,NaN,0,0,0,0,0,0,102,0
128062,590820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.910109,NaN,0,0,0,0,0,0,105,0
212418,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
213330,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
199451,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1

In [55]:
df2 = df1.drop(['APP_EMP_TYPE'], axis=1)
df2

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
108255,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
3233,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
125063,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
88141,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
198927,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184358,590818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.915485,NaN,0,0,0,0,0,0,102,0
128062,590820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.910109,NaN,0,0,0,0,0,0,105,0
212418,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
213330,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
199451,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1

In [56]:
df3 = df2.drop(['APP_TRAVEL_PASS'], axis=1)
df3

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
108255,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
3233,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
125063,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
88141,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
198927,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184358,590818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.915485,NaN,0,0,0,0,0,0,102,0
128062,590820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.910109,NaN,0,0,0,0,0,0,105,0
212418,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
213330,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
199451,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1

In [57]:
df4 = df3.drop(['CLNT_JOB_POSITION_TYPE'], axis=1)
df4

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
108255,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
3233,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
125063,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
88141,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
198927,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184358,590818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.915485,NaN,0,0,0,0,0,0,102,0
128062,590820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.910109,NaN,0,0,0,0,0,0,105,0
212418,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
213330,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
199451,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1

In [58]:
data = df4
data

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
108255,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
3233,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
125063,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
88141,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
198927,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184358,590818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.915485,NaN,0,0,0,0,0,0,102,0
128062,590820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.910109,NaN,0,0,0,0,0,0,105,0
212418,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
213330,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
199451,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1