In [19]:
import pandas as pd 
import numpy as np

In [20]:
ptd1 = pd.read_csv('/content/part_01.csv') 
ptd1.head()

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,SUM_TRAN_CLO_TENDENCY3M,SUM_TRAN_MED_TENDENCY1M,SUM_TRAN_MED_TENDENCY3M,SUM_TRAN_SUP_TENDENCY1M,SUM_TRAN_SUP_TENDENCY3M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,TRANS_COUNT_ATM_PRC,TRANS_COUNT_NAS_PRC,TRANS_COUNT_SUP_PRC
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,0.004301,0.538223,0.612532,0.338028,0.521127,0.000000,0.211268
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,1.000000,NaN,0.037963,0.200819,0.208955,0.477612,0.164179,0.059701
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.609531,0.458333,0.208333,0.041667,0.083333
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,0.40148,0.129829,0.586312,0.122523,0.640830,0.512312,0.554054,0.031532,0.018018,0.193694

In [21]:
ptd2 = pd.read_csv('/content/part_02.csv')
ptd2.head()

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_REGISTR_RGN_CODE,APP_TRAVEL_PASS
0,349630,444,N,PRIVATE,Y,UH,PRIVATE,NPRIVAT,M,MANAGER,77.0,N
1,336459,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,533853,648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,344680,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,388464,600,Y,PRIVATE,N,H,PRIVATE,JO,M,SPECIALIST,54.0,N

In [22]:
ptd3 = pd.read_csv('/content/part_03.csv')
ptd3.head()

,ID,AVG_PCT_DEBT_TO_DEAL_AMT,AVG_PCT_MONTH_TO_PCLOSE,DEAL_GRACE_DAYS_ACC_AVG,DEAL_GRACE_DAYS_ACC_MAX,DEAL_GRACE_DAYS_ACC_S1X1,DEAL_YQZ_IR_MAX,DEAL_YQZ_IR_MIN,DEAL_YWZ_IR_MAX,DEAL_YWZ_IR_MIN,...,LDEAL_TENOR_MAX,LDEAL_TENOR_MIN,LDEAL_USED_AMT_AVG_YQZ,LDEAL_USED_AMT_AVG_YWZ,LDEAL_YQZ_CHRG,LDEAL_YQZ_COM,LDEAL_YQZ_PC,MAX_PCLOSE_DATE,MED_DEBT_PRC_YQZ,MED_DEBT_PRC_YWZ
0,353144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,373635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,273973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,521836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,491543,NaN,NaN,1.0,1.0,1.0,NaN,NaN,25.99,25.99,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0

In [23]:
ptd4 = pd.read_csv('/content/part_04.csv')
ptd4.head()

,ID,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_SALARY_VALUE,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
0,352758,NaN,NaN,NaN,2.410219,NaN,0,0,0,0,0,0,O01,0
1,578916,СОТРУДНИК,NaN,NaN,4.114410,NaN,0,0,0,0,0,0,102,0
2,452700,ГЕНЕРАЛЬНЫЙ ДИРЕКТОР,NaN,NaN,7.746130,DAUGHTER,1,0,0,0,0,0,102,0
3,262502,NaN,NaN,NaN,1.243561,NaN,0,0,0,0,0,0,102,0
4,452349,Главный инспектор,NaN,NaN,7.415485,NaN,0,0,0,0,0,0,K01,0

In [24]:
ptd5 = pd.read_csv('/content/part_05.csv')
ptd5.head()

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,PRC_ACCEPTS_TK
0,556073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,355572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,588838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,579911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
ptd6 = pd.read_csv('/content/part_06.csv')
ptd6.head()

,ID,REST_AVG_CUR,REST_AVG_PAYM,REST_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,REST_DYNAMIC_CUR_1M,REST_DYNAMIC_CUR_3M,REST_DYNAMIC_FDEP_1M,REST_DYNAMIC_FDEP_3M,REST_DYNAMIC_IL_1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,291918,5064.323817,0.000000,0.0,0.0,0.230292,0.387579,0.0,0.0,0.0,...,0.0,0.0,0.0,0.587193,0.850793,0.0,0.0,0.000000,0.000000,0.000000
1,194000,0.000000,2642.496017,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.886428,0.936790,7671.198333
2,579301,2019.791200,0.000000,0.0,0.0,0.147771,0.448418,0.0,0.0,0.0,...,0.0,0.0,0.0,0.086593,0.534934,0.0,0.0,0.000000,0.000000,0.000000
3,511975,0.000000,1830.262650,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.434211,0.758335,3120.125000
4,516836,24370.154917,0.000000,0.0,0.0,0.210509,0.727481,0.0,0.0,0.0,...,0.0,0.0,0.0,0.241408,0.606401,0.0,0.0,0.000000,0.000000,0.000000

In [26]:

ptd7 = pd.read_csv('/content/part_07.csv')
ptd7.head()

,ID,CLNT_JOB_POSITION,CLNT_JOB_POSITION_TYPE,CLNT_SALARY_VALUE,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
0,541501,NaN,NaN,NaN,1.090216,NaN,0,0,0,0,0,0,O01,0
1,181573,NaN,NaN,NaN,2.434421,NaN,0,0,0,0,0,0,102,0
2,302922,МЕНЕДЖЕР АХД,NaN,NaN,1.353768,NaN,0,0,0,0,0,0,102,0
3,391855,РУКОВОДИТЕЛЬ,NaN,NaN,0.587639,NaN,0,0,0,0,0,0,K01,0
4,337058,продавец,NaN,NaN,1.302693,NaN,0,0,0,0,0,0,105,0

In [27]:

ptd8 = pd.read_csv('/content/part_08.csv')
ptd8.head()

,ID,AVG_PCT_DEBT_TO_DEAL_AMT,AVG_PCT_MONTH_TO_PCLOSE,DEAL_GRACE_DAYS_ACC_AVG,DEAL_GRACE_DAYS_ACC_MAX,DEAL_GRACE_DAYS_ACC_S1X1,DEAL_YQZ_IR_MAX,DEAL_YQZ_IR_MIN,DEAL_YWZ_IR_MAX,DEAL_YWZ_IR_MIN,...,LDEAL_TENOR_MAX,LDEAL_TENOR_MIN,LDEAL_USED_AMT_AVG_YQZ,LDEAL_USED_AMT_AVG_YWZ,LDEAL_YQZ_CHRG,LDEAL_YQZ_COM,LDEAL_YQZ_PC,MAX_PCLOSE_DATE,MED_DEBT_PRC_YQZ,MED_DEBT_PRC_YWZ
0,268056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,580685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,304664,NaN,NaN,0.0,0.0,0.0,NaN,NaN,45.0,45.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0
3,491943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,363957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
ptd9 = pd.read_csv('/content/part_09.csv')
ptd9.head()

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,SUM_TRAN_CLO_TENDENCY3M,SUM_TRAN_MED_TENDENCY1M,SUM_TRAN_MED_TENDENCY3M,SUM_TRAN_SUP_TENDENCY1M,SUM_TRAN_SUP_TENDENCY3M,TRANS_AMOUNT_TENDENCY3M,TRANS_CNT_TENDENCY3M,TRANS_COUNT_ATM_PRC,TRANS_COUNT_NAS_PRC,TRANS_COUNT_SUP_PRC
0,388271,0.000000,0.00000,0.398272,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.258170,0.400000,0.000000,0.866667,0.000000
1,428939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,519644,0.775311,0.00000,0.018451,0.022638,0.120000,0.48,NaN,0.428571,NaN,...,NaN,NaN,NaN,0.173412,0.383927,0.525575,0.440000,0.500000,0.060000,0.160000
3,195478,1.000000,0.00000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000
4,270199,0.603218,0.01779,0.001350,0.145279,0.190476,1.00,0.142857,0.857143,0.166667,...,0.833055,0.252147,0.850374,0.438776,0.951836,0.977528,0.927632,0.138158,0.006579,0.440789

In [29]:
ptd10 = pd.read_csv('/content/part_10.csv')
ptd10.head()

,ID,REST_AVG_CUR,REST_AVG_PAYM,REST_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,REST_DYNAMIC_CUR_1M,REST_DYNAMIC_CUR_3M,REST_DYNAMIC_FDEP_1M,REST_DYNAMIC_FDEP_3M,REST_DYNAMIC_IL_1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,250536,7056.204833,0.0000,0.0,0.0,0.456743,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.824113,1.000000,0.0,0.0,0.000000,0.000000,0.000000
1,444978,16149.644083,0.0000,0.0,0.0,0.016949,0.210563,0.0,0.0,0.0,...,0.0,0.0,0.0,0.035411,0.243427,0.0,0.0,0.000000,0.000000,0.000000
2,356166,10988.560850,0.0000,0.0,0.0,0.181021,0.369580,0.0,0.0,0.0,...,0.0,0.0,0.0,0.184274,0.429457,0.0,0.0,0.000000,0.000000,0.000000
3,582903,24052.755017,0.0000,0.0,0.0,0.127678,0.811140,0.0,0.0,0.0,...,0.0,0.0,0.0,0.144068,0.288090,0.0,0.0,0.000000,0.000000,0.000000
4,270605,0.000000,8585.3738,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.124028,0.539843,45226.896667

In [30]:
ptd11 = pd.read_csv('/content/part_11.csv')
ptd11.head()

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_REGISTR_RGN_CODE,APP_TRAVEL_PASS
0,341999,504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,359680,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,449928,480,N,PRIVATE,Y,SS,PRIVATE,NaN,M,NaN,69.0,N
3,406901,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,548016,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:


ptd12 = pd.read_csv('/content/part_12.csv')
ptd12.head()

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,PRC_ACCEPTS_TK
0,367218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,313965,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,484369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,162251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,362543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df = pd.concat([ptd1, ptd2, ptd3, ptd4, ptd5, ptd6, ptd7, ptd8, ptd9, ptd10, ptd11, ptd12], ignore_index=True)
print(df)

             ID  AMOUNT_RUB_ATM_PRC  AMOUNT_RUB_CLO_PRC  AMOUNT_RUB_NAS_PRC  \
0        358628            0.914453            0.003802            0.000000
1        528730                 NaN                 NaN                 NaN
2        160451            0.989403            0.000239            0.000992
3        210467            0.561584            0.000000            0.016932
4        292486            0.201789            0.147567            0.033131
...         ...                 ...                 ...                 ...
2131135  493522                 NaN                 NaN                 NaN
2131136  177598                 NaN                 NaN                 NaN
2131137  569739                 NaN                 NaN                 NaN
2131138  280318                 NaN                 NaN                 NaN
2131139  500900                 NaN                 NaN                 NaN

         AMOUNT_RUB_SUP_PRC  CNT_TRAN_ATM_TENDENCY1M  CNT_TRAN_ATM_TENDENCY3M  \
0                  0.030183                 0.216216                 0.540541
1                       NaN                      NaN                      NaN
2                  0.000765                      NaN                 0.312500
3                  0.009256                      NaN                 0.600000
4                  0.165119                 0.142857                 1.000000
...                     ...                      ...                      ...
2131135                 NaN                      NaN                      NaN
2131136                 NaN                      NaN                      NaN
2131137                 NaN                      NaN                      NaN
2131138                 NaN                      NaN                      NaN
2131139                 NaN                      NaN                      NaN

         CNT_TRAN_AUT_TENDENCY1M  CNT_TRAN_AUT_TENDENCY3M  \
0                       0.333333                 0.333333
1                            NaN                      NaN
2                            NaN                 0.333333
3                            NaN                      NaN
4                            NaN                 0.400000
...                          ...                      ...
2131135                      NaN                      NaN
2131136                      NaN                      NaN
2131137                      NaN                      NaN
2131138                      NaN                      NaN
2131139                      NaN                      NaN

         CNT_TRAN_CLO_TENDENCY1M  ...  TURNOVER_CC  TURNOVER_DYNAMIC_CC_1M  \
0                            NaN  ...          NaN                     NaN
1                            NaN  ...          NaN                     NaN
2                            NaN  ...          NaN                     NaN
3                            NaN  ...          NaN                     NaN
4                       0.266667  ...          NaN                     NaN
...                          ...  ...          ...                     ...
2131135                      NaN  ...          NaN                     NaN
2131136                      NaN  ...          NaN                     NaN
2131137                      NaN  ...          NaN                     NaN
2131138                      NaN  ...          NaN                     NaN
2131139                      NaN  ...          NaN                     NaN

         TURNOVER_DYNAMIC_CC_3M  TURNOVER_DYNAMIC_CUR_1M  \
0                           NaN                      NaN
1                           NaN                      NaN
2                           NaN                      NaN
3                           NaN                      NaN
4                           NaN                      NaN
...                         ...                      ...
2131135                     NaN                      NaN
2131136                     NaN                      NaN
2131137                     NaN                      NaN
2131138                     NaN                      NaN
2131139                     NaN                      NaN

         TURNOVER_DYNAMIC_CUR_3M  TURNOVER_DYNAMIC_IL_1M  \
0                            NaN                     NaN
1                            NaN                     NaN
2                            NaN                     NaN
3                            NaN                     NaN
4                            NaN                     NaN
...                          ...                     ...
2131135                      NaN                     NaN
2131136                      NaN                     NaN
2131137                      NaN                     NaN
2131138                      NaN                     NaN
2131139                      NaN                     NaN

         TURNOVER_DYNAMIC_IL_3M  TURNOVER_DYNAMIC_PAYM_1M  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
2131135                     NaN                       NaN
2131136                     NaN                       NaN
2131137                     NaN                       NaN
2131138                     NaN                       NaN
2131139                     NaN                       NaN

         TURNOVER_DYNAMIC_PAYM_3M  TURNOVER_PAYM
0                             NaN            NaN
1                             NaN            NaN
2                             NaN            NaN
3                             NaN            NaN
4                             NaN            NaN
...                           ...            ...
2131135                       NaN            NaN
2131136                       NaN            NaN
2131137                       NaN            NaN
2131138                       NaN            NaN
2131139                       NaN            NaN

[2131140 rows x 116 columns]

In [33]:
df1 = df.sort_values("ID") 
df1

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
1942347,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064045,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.131910,0.442285,0.0,0.0,0.0,0.0,0.0
1479955,146841,1.0,0.0,0.0,0.0,0.101695,0.40678,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1123622,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1955044,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106639,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14588,590828,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180502,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1215683,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753679,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.262351,0.263319,0.0,0.0,0.0,0.0,0.0

In [34]:
df1.drop_duplicates(keep= False )

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
1942347,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064045,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.131910,0.442285,0.0,0.0,0.0,0.0,0.0
1479955,146841,1.0,0.0,0.0,0.0,0.101695,0.40678,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1123622,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1955044,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106639,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14588,590828,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180502,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1215683,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753679,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.262351,0.263319,0.0,0.0,0.0,0.0,0.0

In [35]:
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2131140 entries, 1942347 to 1753679
Data columns (total 116 columns):
 #    Column                       Dtype
---   ------                       -----
 0    ID                           int64
 1    AMOUNT_RUB_ATM_PRC           float64
 2    AMOUNT_RUB_CLO_PRC           float64
 3    AMOUNT_RUB_NAS_PRC           float64
 4    AMOUNT_RUB_SUP_PRC           float64
 5    CNT_TRAN_ATM_TENDENCY1M      float64
 6    CNT_TRAN_ATM_TENDENCY3M      float64
 7    CNT_TRAN_AUT_TENDENCY1M      float64
 8    CNT_TRAN_AUT_TENDENCY3M      float64
 9    CNT_TRAN_CLO_TENDENCY1M      float64
 10   CNT_TRAN_CLO_TENDENCY3M      float64
 11   CNT_TRAN_MED_TENDENCY1M      float64
 12   CNT_TRAN_MED_TENDENCY3M      float64
 13   CNT_TRAN_SUP_TENDENCY1M      float64
 14   CNT_TRAN_SUP_TENDENCY3M      float64
 15   SUM_TRAN_ATM_TENDENCY1M      float64
 16   SUM_TRAN_ATM_TENDENCY3M      float64
 17   SUM_TRAN_AUT_TENDENCY1M      float64
 18   SUM_TRAN_AUT_TENDENCY3M      float64
 19   SUM_TRAN_CLO_TENDENCY1M      float64
 20   SUM_TRAN_CLO_TENDENCY3M      float64
 21   SUM_TRAN_MED_TENDENCY1M      float64
 22   SUM_TRAN_MED_TENDENCY3M      float64
 23   SUM_TRAN_SUP_TENDENCY1M      float64
 24   SUM_TRAN_SUP_TENDENCY3M      float64
 25   TRANS_AMOUNT_TENDENCY3M      float64
 26   TRANS_CNT_TENDENCY3M         float64
 27   TRANS_COUNT_ATM_PRC          float64
 28   TRANS_COUNT_NAS_PRC          float64
 29   TRANS_COUNT_SUP_PRC          float64
 30   AGE                          float64
 31   APP_CAR                      object
 32   APP_COMP_TYPE                object
 33   APP_DRIVING_LICENSE          object
 34   APP_EDUCATION                object
 35   APP_EMP_TYPE                 object
 36   APP_KIND_OF_PROP_HABITATION  object
 37   APP_MARITAL_STATUS           object
 38   APP_POSITION_TYPE            object
 39   APP_REGISTR_RGN_CODE         float64
 40   APP_TRAVEL_PASS              object
 41   AVG_PCT_DEBT_TO_DEAL_AMT     float64
 42   AVG_PCT_MONTH_TO_PCLOSE      float64
 43   DEAL_GRACE_DAYS_ACC_AVG      float64
 44   DEAL_GRACE_DAYS_ACC_MAX      float64
 45   DEAL_GRACE_DAYS_ACC_S1X1     float64
 46   DEAL_YQZ_IR_MAX              float64
 47   DEAL_YQZ_IR_MIN              float64
 48   DEAL_YWZ_IR_MAX              float64
 49   DEAL_YWZ_IR_MIN              float64
 50   LDEAL_ACT_DAYS_ACC_PCT_AVG   float64
 51   LDEAL_ACT_DAYS_PCT_AAVG      float64
 52   LDEAL_ACT_DAYS_PCT_CURR      float64
 53   LDEAL_ACT_DAYS_PCT_TR        float64
 54   LDEAL_ACT_DAYS_PCT_TR3       float64
 55   LDEAL_ACT_DAYS_PCT_TR4       float64
 56   LDEAL_AMT_MONTH              float64
 57   LDEAL_DELINQ_PER_MAXYQZ      float64
 58   LDEAL_DELINQ_PER_MAXYWZ      float64
 59   LDEAL_GRACE_DAYS_PCT_MED     float64
 60   LDEAL_TENOR_MAX              float64
 61   LDEAL_TENOR_MIN              float64
 62   LDEAL_USED_AMT_AVG_YQZ       float64
 63   LDEAL_USED_AMT_AVG_YWZ       float64
 64   LDEAL_YQZ_CHRG               float64
 65   LDEAL_YQZ_COM                float64
 66   LDEAL_YQZ_PC                 float64
 67   MAX_PCLOSE_DATE              float64
 68   MED_DEBT_PRC_YQZ             float64
 69   MED_DEBT_PRC_YWZ             float64
 70   CLNT_JOB_POSITION            object
 71   CLNT_JOB_POSITION_TYPE       object
 72   CLNT_SALARY_VALUE            float64
 73   CLNT_SETUP_TENOR             float64
 74   CLNT_TRUST_RELATION          object
 75   CR_PROD_CNT_CC               float64
 76   CR_PROD_CNT_CCFP             float64
 77   CR_PROD_CNT_IL               float64
 78   CR_PROD_CNT_PIL              float64
 79   CR_PROD_CNT_TOVR             float64
 80   CR_PROD_CNT_VCU              float64
 81   PACK                         object
 82   TARGET                       float64
 83   CNT_ACCEPTS_MTP              float64
 84   CNT_ACCEPTS_TK               float64
 85   PRC_ACCEPTS_A_AMOBILE        float64
 86   PRC_ACCEPTS_A_ATM            float64
 87   PRC_ACCEPTS_A_EMAIL_LINK     float64
 88   PRC_ACCEPTS_A_MTP            float64
 89   PRC_ACCEPTS_A_POS            float64
 90   PRC_ACCEPTS_A_TK             float64
 91   PRC_ACCEPTS_MTP              float64
 92   PRC_ACCEPTS_TK               float64
 93   REST_AVG_CUR                 float64
 94   REST_AVG_PAYM                float64
 95   REST_DYNAMIC_CC_1M           float64
 96   REST_DYNAMIC_CC_3M           float64
 97   REST_DYNAMIC_CUR_1M          float64
 98   REST_DYNAMIC_CUR_3M          float64
 99   REST_DYNAMIC_FDEP_1M         float64
 100  REST_DYNAMIC_FDEP_3M         float64
 101  REST_DYNAMIC_IL_1M           float64
 102  REST_DYNAMIC_IL_3M           float64
 103  REST_DYNAMIC_PAYM_1M         float64
 104  REST_DYNAMIC_PAYM_3M         float64
 105  REST_DYNAMIC_SAVE_3M         float64
 106  TURNOVER_CC                  float64
 107  TURNOVER_DYNAMIC_CC_1M       float64
 108  TURNOVER_DYNAMIC_CC_3M       float64
 109  TURNOVER_DYNAMIC_CUR_1M      float64
 110  TURNOVER_DYNAMIC_CUR_3M      float64
 111  TURNOVER_DYNAMIC_IL_1M       float64
 112  TURNOVER_DYNAMIC_IL_3M       float64
 113  TURNOVER_DYNAMIC_PAYM_1M     float64
 114  TURNOVER_DYNAMIC_PAYM_3M     float64
 115  TURNOVER_PAYM                float64
dtypes: float64(102), int64(1), object(13)
memory usage: 1.9+ GB

In [39]:
df1.APP_CAR = df1.APP_CAR.str.lower()
df1.APP_COMP_TYPE = df1.APP_COMP_TYPE.str.lower()
df1.APP_DRIVING_LICENSE = df1.APP_DRIVING_LICENSE.str.lower()
df1.APP_EDUCATION = df1.APP_EDUCATION.str.lower()
df1.APP_EMP_TYPE = df1.APP_EMP_TYPE.str.lower()
df1.APP_KIND_OF_PROP_HABITATION = df1.APP_KIND_OF_PROP_HABITATION.str.lower()
df1.APP_MARITAL_STATUS = df1.APP_MARITAL_STATUS.str.lower()
df1.APP_POSITION_TYPE = df1.APP_POSITION_TYPE.str.lower()
df1.APP_TRAVEL_PASS = df1.APP_TRAVEL_PASS.str.lower()
df1.CLNT_JOB_POSITION = df1.CLNT_JOB_POSITION.str.lower()
df1.CLNT_JOB_POSITION_TYPE = df1.CLNT_JOB_POSITION_TYPE.str.lower()
df1.CLNT_TRUST_RELATION = df1.CLNT_TRUST_RELATION.str.lower()
df1.PACK = df1.PACK.str.lower()

In [41]:
list(df1.PACK.unique())

[nan,
 'k01',
 '102',
 '105',
 'o01',
 '103',
 '101',
 '107',
 '301',
 '104',
 '108',
 '109',
 'm01']

In [42]:
list(df1.CLNT_TRUST_RELATION.unique())

[nan,
 'mother',
 'brother',
 'friend',
 'sister',
 'other',
 'relative',
 'daughter',
 'son',
 'father',
 'близкий ро',
 'друг',
 'отец',
 'сестра',
 'сын',
 'мать',
 'муж',
 'брат',
 'дальний ро',
 'дочь',
 'жена']

In [49]:
list(df1.APP_CAR.unique())

[nan, 'n', 'y']

In [50]:
list(df1.APP_COMP_TYPE.unique())

[nan, 'private', 'state', 'ip', 'inter']

In [51]:
list(df1.APP_DRIVING_LICENSE.unique())

[nan, 'y', 'n']

In [52]:
list(df1.APP_EDUCATION.unique())

[nan, 's', 'hh', 'h', 'ss', 'uh', 'a', 'i', 'us', 'e', 'hi', 'av', 'ac']

In [53]:
list(df1.APP_EMP_TYPE.unique())

[nan, 'private', 'state', 'ip', 'inter']

In [54]:
list(df1.APP_KIND_OF_PROP_HABITATION.unique())

[nan, 'so', 'rent', 'other', 'jo', 'nprivat']

In [55]:
list(df1.APP_MARITAL_STATUS.unique())

[nan, 'd', 'm', 'v', 't', 'n', ' ', 'w', 'c']

In [56]:
list(df1.APP_POSITION_TYPE.unique())

[nan, 'specialist', 'self_empl', 'manager', 'top_manager']

In [57]:
list(df1.APP_TRAVEL_PASS.unique())

[nan, 'n', 'y']

In [58]:
list(df1.CLNT_JOB_POSITION.unique())

[nan,
 'начальник отдела',
 'генеральный директор',
 'менеджер иао',
 'директор',
 'предприниматель',
 'архитектор',
 'экономист',
 'менеджер',
 'системотехник',
 'медицинский представитель',
 'дистрибьютор',
 'зам. начальника отдела',
 'техник геофизик',
 'специалист',
 'водитель-экспедитор',
 'ген. директор',
 'зам.директора по туризму',
 'специалист по страхованию',
 'главныцй бухгалтер',
 'заместитель генерального директора',
 'продавец',
 'программист',
 'специалист отдела кадров',
 'специалист отдела продаж',
 'заместитель начальника отдела',
 'грузчик-наборщик',
 'звукоинженер',
 'зам. директора по кадровым вопросам',
 'матрос',
 'альпинист',
 'курьер',
 'руководитель направления',
 'художник',
 'индивидуальный предприниматель',
 'лаборант',
 'исполнительный директор',
 'финансовый директор',
 'врач',
 'зам. директора',
 'водитель',
 'маркетолог',
 'врач анестезиолог реаниматолог',
 'водителоь-экспедитор',
 'артдиректор',
 'инженер-программист',
 'разработчик аппаратных средств',
 'редактор сайта gameland.ru',
 'вед.специалист эксперт',
 'бухгалтер',
 'специалист 1-го разряда',
 'администратор',
 'старший тех специалист',
 'мастер механик',
 'дизайнер',
 'ведущий специалист',
 'начальник участка',
 'зам.финансового директора',
 'инженер',
 'руководитель отдела',
 'ген.директор',
 'прессаташе',
 'гл.специалист юр.отдела',
 'управляющий магазином',
 'зам.ген.директора',
 'управляющая',
 'старший механик',
 'заместитель ген директора',
 'офис-менеджер',
 'переводчик-координатор аналит.отд.',
 'кладовщик',
 'начальник дч',
 'зам. генерального директора',
 'автослесарь',
 'ип',
 'зам.директора',
 'главный специалист по обработке',
 'учитель',
 'соцработник',
 'зам директора',
 'продавец-консультант',
 'технический директор',
 'менеджер по закупкам',
 'оператор',
 'слесарь мср',
 'начальник отдела продаж',
 'региональный представитель',
 'мастер',
 'мастер парикмахер',
 'прораб',
 'медицинский менеджер',
 'руководитель',
 'мастер во и бло',
 'зам директора по развитию',
 'торговый представитель',
 'контроллер',
 'начальник цеха',
 '--',
 'специалист цпк',
 'директор фирмы',
 'стоматолог',
 'экспедитор',
 'старший преподаватель',
 'директор сбм',
 'коммерческий директор',
 'второй помошник капитана',
 'зам. начальника',
 'служащий',
 'страховой консультант',
 'палатная санитарка',
 'секретарь-референт',
 'главный эксперт',
 'редактор',
 'кровельщик',
 'зам директор по развитию',
 'руководитель проекта',
 'консультант',
 'менеджер орп',
 'преподаватель',
 'преподаватель англ.яз.',
 'специалист по маркетингу',
 'ведущий инженер',
 'ведущий специалист-аналитик',
 'секретарь',
 'разработчик',
 'установщик мебели',
 'старший экономист',
 'снабженец',
 'комм.дир.',
 'зам.генерального директора',
 'менеджер/специалист',
 'охранник',
 'заместитель руководителя',
 'заместитель начальника сб',
 'страховой агент',
 'менеджер по продажам',
 'главный специалист',
 'координатор проектов',
 'системный администратор',
 'старший повар',
 'директор по развитию',
 'руководитель службы персонала',
 'главный механик',
 'программист 1-ой категории',
 'менеджер по it проектам',
 'инженер-конструктор',
 'менеджер-координатор',
 'менеджер-логист',
 'аспирант',
 'ветадвайзер',
 'механик',
 'шлифовщик',
 'доцент кафедры менеджмента',
 'програмист',
 'судья',
 'фармацевт',
 'частный инвестор',
 'эксперт по гарантии',
 'директор филиала приволжский',
 'начальник базы',
 'менеджер по персоналу',
 'заведующая отделением',
 '2-ой механик',
 'директор филиала',
 'рукокодитель направления',
 'следователдь по увд',
 'соц работник',
 'мерчендайзер 3 категории',
 'управляющий',
 'руководитель отдела продаж',
 'плиточник',
 'референт',
 'медсестра',
 'хостес',
 'главный бухгалтер',
 'зам.начальника отдела',
 'мерчендайзер',
 'зам. главного инженера',
 'психотерапевт',
 'инженер проекта',
 'стилист',
 'руководитель отдела сопровождения',
 'редактор отдела культуры и спорта',
 'гл. бухгалтер',
 'руководитель .департамента',
 'слесарь',
 'старший администратор',
 'специалист ооо',
 'биржевой брокер',
 'начальник отдела вк',
 'помощник гипа',
 'повар салатного цеха',
 'руководитель проектов',
 'начальник службы',
 'зам.начальника цеха',
 'освобожденный бригадир',
 'видео дизайнер',
 'водитель-экспедитор доставки',
 'руководитель организации',
 'глава администрации',
 'зам.директора департамента',
 'автомеханник',
 'гл.бухгалтер',
 'инженер механик',
 'зам. руководителя отдела продаж',
 'директор департамента по прав. раб.',
 'бизнес-тренер',
 'доц.кафедры радиофизики и т.физики',
 'ассистент',
 'юрист',
 'охранник гбр',
 'старший научный сотрудник',
 'начальник контрольного управления',
 'помощник руководителя',
 'зам.начальника департамента',
 'менеджнр по междкнар.закупкам',
 'сотрудник по раб. с болельщиками',
 'зам.руководителя отдления рекламы',
 'художник-оформитель',
 'агент по продажам',
 'операционист транспортного отдела',
 'экономист 2 категории',
 'упаковщик',
 'проэктный менеджер',
 'оператор чпу',
 'гл.механик',
 'веб-дизайнер',
 'webmaster',
 'техник программист',
 'начальник спец отд. номер 2',
 'ком.директор',
 'психолог',
 'член бригады подготовки и открытия',
 'контролёр кпво',
 'завед.аптекой',
 'независимый предприниматель амway',
 'техник',
 'командир воздушного судна',
 'доцент',
 'заведующий клавишной мастерской',
 'зам.по развитию',
 'руководитель группы дмс',
 'супервайзер',
 'фин. менеджер',
 'заместитель исполнит.директора',
 'системный специалист',
 'повар',
 'советник',
 'педагог дополнительного образования',
 'инженер по наладке и установке',
 'старший инспекор',
 'специалист по обучению персонала',
 'бухгалтер-калькулятор',
 'нач. управления',
 'финансовый контролер',
 'агент по недвижимости',
 'директор департамента',
 'главный врач',
 'врач-куратор',
 'архитектор-дизайнер',
 'врач-офтальмолог',
 'ведущий эксперт',
 'заместитель директора',
 'эксперт',
 'адвокат',
 'зам. руководителя проекта',
 'журналист',
 'докер',
 'завскладом готовой продукции',
 'страший продавец консультант',
 'профессор',
 'зам.нач. 2отд. 5 отдела милиции',
 'старший специалист одо',
 'начальник орского отделения',
 'главный инженер',
 'юрисконсульт',
 'техник пто',
 'директор проектов',
 'дежурный по станции',
 'ген директор',
 'специалист по рекламации',
 'оптик-технолог',
 'ком. директор',
 'зам.ген.директора по коммер.вопроса',
 'инженер программист',
 'главный специалист отдела выставок',
 'представитель компании',
 'тренер',
 'региональный менеджер',
 'сити менеджер',
 'начальник отдела вэд',
 'настоятель',
 'инженер- программист',
 'ведущий аналитик',
 'студент',
 'инженер-технолог',
 'парикмахер',
 'артист',
 'руководитель отдела рекламы',
 'исполн. директор',
 'мастер производственного участка',
 'старший инспектор',
 'старший специалист',
 'главный архитектор',
 'врач-стоматолог',
 'начальник управления',
 'магистр',
 'главный специалист пто',
 'главный специалист-эксперт',
 'менеджер по коммуникациям',
 'начальник упр-я страховых выплат',
 'комерческий директор',
 'начальник админ. хоз. управления',
 'заместитель коммерческого директора',
 'продюсер',
 'заместитель главного бухгалтера',
 'помошни к машениста',
 'замю директора',
 'официант',
 'третий инженер',
 'студентка',
 'врачь',
 'литейщик',
 'художник постановщик',
 'заместитель нач. отдела',
 'стюардесса',
 'электрообмотчик',
 'врач-косметолог',
 'главный геолог',
 'менеджер проектов',
 'менеджер по работе с клиентами',
 'главный технолог',
 'второй помощник',
 'специалист по то',
 'заведующий сектором',
 'глава кфх',
 'начальник отдела логистики',
 'инструктор пдп',
 'зам. исполнительного директора',
 'строитель',
 'региональный директор по произ-ву',
 'старший региональный менеджер',
 'дворник',
 'зам. руководителя предприятия',
 'капитан',
 'федеральный менеджер проектов',
 'старший руководитель направлений',
 'рук-ль дилерского отдела',
 'зав.общежитием',
 'арт.директор',
 'арт-директор',
 'член комиссии',
 'помощник судьи',
 'зав.отделением',
 'старший юрист',
 'фрилансер',
 'фитнес-тренер',
 'машинист крана',
 'менеджер направления вич спид',
 'провизор  технолог',
 'начальник департамента лизинговых',
 'сотрудник',
 'тренер преподователь',
 'помощник бухгалтера',
 'менеджер склада',
 'радиомеханик по обслуживанию рта',
 'сменный мастер группы',
 'разнорабочий',
 'менеджер по прямому маркетингу',
 'внс',
 'участковая мед.сестра',
 'начальник фин.отдела',
 'руководитель по работе с клиентами',
 'зам.начальника по работе с корпорат',
 'специалист тендерного отдела',
 'сторож',
 'третий секретарь',
 'технический консультант',
 'сборщик достройщик',
 'ведущий спесиалист',
 'начальник управления делами',
 'инженер-электроник',
 'пенсионер',
 'аналитик',
 'менеджер по развитию бизнеса',
 'начальник',
 'грузчик',
 'старшая медсестра',
 'заместитель  директора',
 'начальник отдела/группы',
 'председатель',
 'управляющий филиала',
 'учредитель альянс инвест',
 'технолог',
 'зам нач юр отдела',
 'бизнес аналитик',
 'директор по работе с инвесторами',
 'зам. коммерческого директора',
 'зам. главного бухгалтера',
 'продавец-кассир',
 'бурильщик',
 'помощник президента',
 'старший инженер программист',
 'контент менеджер',
 'помощник начальника',
 'электромонтер',
 '-',
 'нпа',
 'руковдитель представительства',
 'президент',
 'фитер',
 'начальник пожароной',
 'кладавщик',
 'старший юристконсульт',
 'подземный горнорабочий',
 'бармен',
 'начальник транспортного отдела',
 'кладовщик-менеджер',
 'старший аппаратчик',
 'дерматолог',
 'зам начальника асу',
 'начальник отд. снабжения',
 'директор по региональным продажам',
 'подсобный рабочий',
 'советник президента',
 'менеджер отдела продаж',
 'помощник  капитана',
 'риэлтер',
 'начальник отдела внедрения',
 'зам.директора по развитию',
 'начальник производства',
 'главный специалист опу',
 'инспектор',
 'милиционер 9 рота',
 'переводчик',
 'зам начальника ксб',
 'зам.ген.директора по экономике',
 'координатор продаж',
 'ведущий программист',
 'зав.аптекой',
 'генеральный деректор',
 'гениральный директор',
 'гл. бугалтер',
 'машинист насосных установок',
 'ведущий програмист',
 'инженер птo',
 'консультатнт',
 'младший научный сотрудник',
 'начальник юридического отдела',
 'телеведущий',
 'логист',
 'начальник it-отдела',
 'не работает',
 'мед сестра',
 'заведующий хранилищем',
 'гл бухгалтер',
 'зам.рук-ля отдела',
 'продавец-логист',
 'регистратор',
 'автомеханик',
 'начальник  отдела',
 'менеджер по продукту',
 'координатор',
 'преподаватель каф. ин языков',
 'начальник отдела снабжения',
 'зам. директора по фин. вопросам',
 'независимый предприниматель',
 'костюмер',
 'зав. производством',
 'специалист-эксперт',
 'зам глав бухгалтер',
 'инжнер-программист 2 категории',
 'мастер производства',
 'инженер по информационн. технология',
 'начальник смены',
 'монтажник',
 'милиционер',
 'ведущий инженер-технолог по рмц',
 'директор филиала в г. иркутске',
 'маляр',
 'главный диспетчер',
 'концертный директор',
 'аппаратчик химвода',
 'директор оптовой компании',
 'глав.бухгалтер',
 'ведущий разработчик',
 'зав.гаражом',
 'рабочий',
 'ведущий консультант деп.консалтинга',
 'бригадир',
 'электрослесарь подземный',
 'преподаватель немецкого языка',
 'зам. ген. директора',
 'сварщик монтажник',
 'руководитель группы',
 'водитель а/м',
 'директор по качеству',
 'фотограф',
 'пиар менеджер',
 'риелтор',
 'помошник бухгалтера',
 'портье',
 'плитальщик',
 'рук-ль отд. по раб. с гос. заказ-ми',
 'грузовой агент',
 'консультанат',
 'инженер-механик',
 'финансовый консультант',
 'продавец-мерчендайзер',
 'старший оператор',
 'замерщик',
 'заместитель директора по проектиров',
 'инженер  категории',
 'методист по культ-но просвет работе',
 'зам.глав.бухгалтера',
 'зам.директора по экономике',
 'следователь',
 'зам.начальника клиентского отд.',
 'преподаватель английского языка',
 'директор по продажам',
 'гид',
 'помощник генерального директора',
 'машинист технологических компрессор',
 'председатель совета директоров',
 'менджер',
 'руководитель веб-проектов',
 'старший следователь',
 'линейщик',
 'эксперт-консультант',
 'менеджер вэд',
 'инженер проэктировщик',
 'рук. ахо',
 'менеджер орэсп',
 'зам директор',
 'врач-хирург',
 'зам.исполнит.директора',
 'начальник отд. продаж',
 'инструктор',
 'младший воспитатель',
 'исполнительный секретарь',
 'медицинский предстовитель',
 'ассистент кафедры',
 'офис менеджер',
 'командир авиационной эскадрильи',
 'гл.спец',
 'региональный управляющий',
 'технический менеджер',
 'исполняющая обязанности директора',
 'агент',
 'вед.специалиста',
 'ст операционно-кассовый работник',
 'вед.специалист',
 'мерчандайзер',
 'электромеханик',
 'художник-мультипликатор',
 'конс. по питанию',
 'представитель по развитию',
 'оператор азс',
 'коммерческий агент',
 'горный нормировщик',
 'инженер по гарантии',
 'нач. отдела маркетинг анализа и ауд',
 'менеждер',
 'фельдшер',
 'менеджер клиентского отдела',
 'специалист по продажам',
 'зав. диспансерным отделением',
 'ответст. секретарь',
 'зам. директор',
 'телеоператор',
 'хореограф',
 'управляющий директор',
 'специалист по календарному планиров',
 'бригадир смены',
 'мастер чистоты',
 'геймдизайнер',
 'веб дизайнер',
 'помощник машиниста',
 'комплектовщик',
 'ассистент переводчика',
 'заместитель директора департамента',
 'артист хора',
 'киномеханик',
 'старший мастер',
 'швея',
 'руководитель оп новосибирск',
 'инженер конструктор',
 'строй-менеджер',
 'руководитель департ. маркет. и лог.',
 '4 механик',
 'заведущий отделением',
 'водитель экспедитор',
 'руководитель рубрики',
 'специалист по тестированию',
 'врач-инфекционист',
 'регион. менеджер',
 'генеральный менеджер',
 'вед.экономист',
 'пластический хирург',
 'сборщик мебели',
 'начальник дирекции',
 'риэлтор',
 'пердприниматель',
 'продавец -консультант',
 'специалист по контекстной рекламе',
 'закупщик',
 'борт проводник',
 'монтер пути',
 'директор по проектам',
 'спортсмен профессионал',
 'инженер разработчик асу',
 'корреспондент',
 'моторист -сварщик',
 'бугалтер',
 'доцент кафедры',
 'специалист мто',
 'старший консультант',
 'водитель автомобиля',
 'промоутер',
 'начальник мастерской авто тэч',
 'диспетчер',
 'мастер по пошиву одежды',
 'модель',
 'комерческии директор',
 'заместитель главного врача по кэр',
 'старший группы гбр',
 'советник ген.директора',
 'инспектор по бронированию',
 'пом.воспитателя',
 'администратор проекта',
 'научный сотрудник',
 'учащийся',
 'бухгалтер-эксперт',
 'методист',
 'руководитель отдела снабжения',
 'акушер-гинеколог',
 'юристконсульт',
 'дежурная медсестра',
 'ведущий научный сотрудник',
 'персональный менеджер',
 'директор по развитию фил-й сети',
 'директор по производству',
 'инженер связи',
 'специалист по профилактической раб.',
 'начальник логистики',
 'инженер технолог',
 'консультант по страхованию',
 'руководитель финансового отдела',
 'зам главного редактора рбк тв',
 'ландшафтный дизайнер',
 'музыкальный руководитель',
 'дмректор',
 'менеджер пиар',
 'помощник преподавателя',
 'консультант отд. продаж',
 'земеститель технического директора',
 'замдиректора',
 'мл. научный сотрудник',
 'скорняг',
 'старший техник',
 'лаборант хим анализа',
 'модельщик',
 'начальник отдела информ.технологий',
 'главный экономист',
 'пенионер',
 'интернет маркетолог',
 'кае',
 'управляющий администратор',
 'директор по вопросам собств.',
 'ногтевой мастер',
 'менеджер по поставкам',
 'продьюссер',
 'специалист опп',
 'пом.бур',
 'начальник отдела рекламы',
 'второй штурман',
 'зам. председателя',
 'оперуполномоченный',
 'охраник',
 'специалист по регистрации лс',
 'директор магазина',
 'вед. конструктор',
 'педагог',
 'бульдозерист',
 'сварщик',
 'инд.предприниматель',
 'старший менеджер по продажам',
 'гл.экономист',
 'руководитель сервис службы',
 'manager',
 'домохозяйка',
 'уборщик',
 'лаборант хим.анализа',
 'инженер пто',
 'директора',
 'начальник строительного участка',
 'врач хирург',
 'recruitment meneger',
 'фельдшер-лаборант',
 'начальник сб',
 'электромонтер по рем',
 'товаровед',
 'мастер строительного участка',
 'мастер цеха',
 'фототехник',
 'документовед',
 'заведующий производства',
 'нач.ком.отдела',
 'менеджер по категории',
 'торг.представитель',
 'педиатр',
 'помощник бурильщика',
 'оператор днг',
 'началльник отдела маркетинга',
 'безработный',
 'кассир',
 'старший кассир',
 'инженер по охране труда',
 'библиотекарь оир нб',
 'педагог-психолог',
 'вед. программист',
 'sales meneger',
 'техник опс',
 'электромеханник',
 'заместитель главного инженера',
 'ведущий конструктор',
 'инженер-проектировщик',
 'начальник отдела реализации',
 'ведущий экономист',
 'тестировщик',
 'механизатор',
 'оптимизатор',
 'начальник отдела ит',
 'фрезеровщик',
 'военнослужащий',
 'разработчик бизнес-планоы',
 'почтальон',
 'зам. гендиректора',
 'проводник',
 'старший пожарный',
 'гб. бухгалтер',
 'зав.складом',
 'уборщица',
 'директор по ит',
 'начальник группы',
 'ит директор',
 'мастер промзоны',
 'административный директор',
 'сист.админ',
 'руководитель отдела разработки',
 'ипбоюл',
 'зав. редакцией',
 'менеджер по туризму',
 'начальник гпрб',
 'руководитель бюро продаж',
 'диджей',
 'начальник центра 2',
 'старший менеджер',
 'информационная справочная',
 'старший инженер',
 'старший диспетчер',
 'стволовой (подземный)',
 'эксперт-менеджер',
 'специалист по развитию партнерских',
 'self_empl',
 'начальник территориального отдела',
 'территориальный менеджер',
 'начальник отдела контроля',
 'менеджер по качеству',
 'зам ген директора',
 'заместитель начальника экспедиции',
 'учредитель',
 'трубопроводчик',
 'директор по маркетингу',
 'менеджер по рекламе',
 'зам. генерал. директора',
 'менеджер логистики',
 'руководитель рецепции',
 'продюссер',
 'зам.главного метролога',
 'креативный директор',
 'военный пенсионер',
 'старший товаровед',
 'инженер-проектировщик 2 категории',
 'главный энергетик',
 'представитель по урфо',
 'менеджер по перевозкам',
 'садчик',
 'начальник конструкторскогобюро',
 'специалист брокерского отдела',
 'логист-оператор',
 'специалист ора',
 'индивидуальный предпринимаьель',
 'монтажник опс',
 'звукорежиссер - dj',
 '.',
 'генеральный  директор',
 'инженер по ремонту',
 'техник 1 категории',
 'координатор окзиц',
 'ассистент менеджера по персоналу',
 'комерч.директор',
 'кочегар',
 'pr-менеджер',
 'оператор станков с чпу',
 'менеджер по безопасности',
 'электрослесарь',
 'проект-менеджер',
 'директор по экономике',
 'пом. капитана',
 'старший оперуполномоченный',
 'специалист по недвижимости',
 'заведующий лабараторией',
 'начальник отдела кадров',
 'специалист 3 разряда',
 'ст. помощник прокурора',
 'менеджер-переводчик',
 'резчик',
 'вокалист',
 'ведущий специалист-эксперт',
 'помошник руководителя',
 'руководитель регионального отдела',
 'редактор моды',
 'партнер',
 'бренд-менеджер',
 'руководитель отдела сбыта',
 'начальник ок',
 'нач. производство',
 'администартор',
 'зам.начальника окк',
 'ведуший маркетолог',
 'менеджер по сбыту',
 'начальник отдела сбыта',
 '2-й помощник капитана',
 'директор гр.vip',
 'контролер',
 'вед.инженер',
 'хирург',
 'помощник менеджера по продажам',
 'специалист по выдаче',
 'водитель международник',
 'ст. менеджер',
 'маркетолог-аналитик',
 'электромонтажник',
 'газоэлекторосварщик',
 'старший аналитик',
 'бетонщик',
 'зам. директора по строительству',
 'зам начальника отдела маркетинга',
 'режиссер новостей',
 'гл.специалист-эксперт',
 'старший объекта',
 'помощник директора',
 'руководитель абоненского отдела',
 'соучредитель',
 'массажист',
 'начальник отдела охраны труда',
 'инженер-прпограммист',
 'кастомер',
 'зам начальника отдела',
 'командир',
 'исп. директор',
 'специалист склада',
 'слесарь по ремонту',
 'инженер отд мтc',
 'бухгалтер-кассир',
 'специалист по рекламе',
 'заместитель финансового директора',
 'дальнобойщик',
 'пом врача-эпидем',
 'машинист холодильных установок',
 'инспектор по кадрам',
 'юрист-консульт',
 'юрист консул',
 'артист оркестра',
 'управляющий партнер',
 'руководитель направления онлайн дис',
 'врач психотерапевт',
 'администратор 2 кат',
 'мененджер',
 'продовец-консультант',

In [59]:
list(df1.CLNT_JOB_POSITION_TYPE.unique())

[nan, 'specialist', 'self_empl', 'manager', 'top_manager']

In [46]:
df1.CLNT_TRUST_RELATION.replace('mother','мать',inplace=True) 
df1.CLNT_TRUST_RELATION.replace('brother','брат',inplace=True) 
df1.CLNT_TRUST_RELATION.replace('friend','друг',inplace=True)
df1.CLNT_TRUST_RELATION.replace('sister','сестра',inplace=True) 
df1.CLNT_TRUST_RELATION.replace('other','другие',inplace=True) 
df1.CLNT_TRUST_RELATION.replace('relative','родственник',inplace=True)
df1.CLNT_TRUST_RELATION.replace('daughter','дочь',inplace=True)
df1.CLNT_TRUST_RELATION.replace('son','сын',inplace=True)
df1.CLNT_TRUST_RELATION.replace('father','отец',inplace=True)

In [47]:
list(df1.CLNT_TRUST_RELATION.unique())

[nan,
 'мать',
 'брат',
 'друг',
 'сестра',
 'другие',
 'родственник',
 'дочь',
 'сын',
 'отец',
 'близкий ро',
 'муж',
 'дальний ро',
 'жена']

In [ ]:
list(df1.CLNT_TRUST_RELATION.unique())

In [48]:
df1.replace(r'^\s+$', np.nan, regex=True)

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
1942347,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064045,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.131910,0.442285,0.0,0.0,0.0,0.0,0.0
1479955,146841,1.0,0.0,0.0,0.0,0.101695,0.40678,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1123622,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1955044,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106639,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14588,590828,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180502,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1215683,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753679,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.262351,0.263319,0.0,0.0,0.0,0.0,0.0